.loader {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: loader 6.5s;
}
@keyframes loader {
    0%{
        background-color: #000;
    }
    60%{
        background-color: #000;
    }
    70%{
        background-color: #fff;
    }
    100%{
        background-color: #fff;
    }
}

.loader-svg {
    display: block;
    width: 100vw;
    height: 100vh;
}

.loager-svg-box {
    width: 20%;
    height: 24%;
    display: block;
    margin: 0 auto;
    align-items: center;
    animation: svg 4s;
    scale: 1;
}

@keyframes svg {
    0% {
        transform: matrix(0.08, 0, 0, -0.08, 1470, 1900);
    }

    40% {
        transform: matrix(0.08, 0, 0, -0.08, 1470, 1900);
    }

    100% {
        transform: matrix(0.1, 0, 0, -0.1, 1400, 2000);
    }
}

.shadow1 {
    filter: blur(600px);
    opacity: 0;
    animation: shadow1 4s;
}

@keyframes shadow1 {
    0% {
        transform: matrix(1, 0, 0, 1, 700, 700);
        filter: blur(900px);
        opacity: 1;
    }

    22% {
        filter: blur(500px);
    }

    28% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    55% {
        opacity: 1;
    }

    75% {
        filter: blur(500px);
    }

    78% {
        filter: blur(700px);
    }

    80% {
        filter: blur(450px);
    }

    100% {
        opacity: 0;
    }
}

.shadow3 {
    filter: blur(600px);
    opacity: 0;
    animation: shadow3 4s;
    
}

@keyframes shadow3 {
    0% {
        transform: matrix(1, 0, 0, 1, -700, -700);
        filter: blur(900px);
        opacity: 1;
    }

    22% {
        filter: blur(500px);
    }

    28% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    55% {
        opacity: 1;
    }

    75% {
        filter: blur(500px);
    }

    78% {
        filter: blur(700px);
    }

    80% {
        filter: blur(450px);
    }

    100% {
        opacity: 0;
    }
}

.loader-svg1 {
    display: block;
    position: relative;
    animation: svg1 1s;
}

@keyframes svg1 {
    0% {
        transform: matrix(1, 0, 0, 1, 700, 700);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.loader-svg2 {
    display: block;
    width: 5%;
    animation: svg2 1s;
}

@keyframes svg2 {
    0% {
        transform: matrix(0.7, 0, 0, 0.7, 850, 850);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.shadow2 {
    filter: blur(600px);
    opacity: 0;
    animation: shadow2 4s;
}

@keyframes shadow2 {
    0% {
        transform: matrix(0.7, 0, 0, 0.7, 850, 850);
        filter: blur(900px);
        opacity: 1;
    }

    22% {
        filter: blur(500px);
    }

    28% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    55% {
        opacity: 1;
    }

    75% {
        filter: blur(500px);
    }

    78% {
        filter: blur(700px);
    }

    80% {
        filter: blur(450px);
    }

    100% {
        opacity: 0;
    }
}

.loader-svg3 {
    display: block;
    position: relative;
    animation: svg3 1s;
}

@keyframes svg3 {
    0% {
        transform: matrix(1, 0, 0, 1, -700, -700);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}