.temp1 {
  padding: 0 3.9%;
}
.temp1-content-wrap {
  display: flex;
}
.temp1-content {
  justify-content: space-between;
  display: inline-flex;
  flex-direction: column;
}
.temp1-content1 {
  width: 48.7%;
  margin-right: 2%;
}
.temp1-content2 {
  align-items: center;
  width: 51.3%;
}
.temp1-content-img {
  width: 100%;
  margin-bottom: 18px;
}
@media (min-width: 3800px) {
  .temp1-content-img {
    margin-bottom: 42px;
  }
}
@media (max-width: 1500px) {
  .temp1-content-img {
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .temp1-content-img {
    margin-bottom: 7px;
  }
}
@media (max-width: 700px) {
  .temp1-content-img {
    margin-bottom: 5px;
  }
}
