:root {
  --font1: "Poppins", sans-serif;
  --font2: "Montserrat", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}
button {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
input:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main {
  position: relative;
  z-index: 2;
  padding-top: 105px;
}
/* ----------------- MAIN GALLERY ------------------*/
.main-gallery {
  margin-bottom: 173px;
}
.main-gallery-title {
  margin-left: 9%;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: -1.66px;
  color: #463f3a;
}

/* ----------------- ADAPTIVE ------------------*/

@media (max-width: 1700px) {
}

@media (max-width: 1570px) {
  .main {
    padding-top: 70px;
  }

  /* ----------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 160px;
  }
  .main-gallery-title {
    font-size: 45px;
  }
}
@media (max-width: 1460px) {
}
@media (max-width: 1370px) {
  .main {
    padding-top: 40px;
  }

  /* ----------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 160px;
  }
  .main-gallery-title {
    font-size: 35px;
  }
}
@media (max-width: 1220px) {
  /*--------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 120px;
  }
  .main-gallery-title {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  .main {
    padding-top: 10px;
  }
}
