:root {
  --font1: "Poppins", sans-serif;
  --font2: "Montserrat", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}
button {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
input:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main {
  position: relative;
  z-index: 2;
  padding-top: 105px;
}
.main-greet {
  height: 780px;
  padding: 0 9%;
}
.main-greet-bg-box {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  z-index: 3;
  animation: main-greet-bg-box1 1.3s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}
@keyframes main-greet-bg-box1 {
  from {
    top: 1200px;
  }
  to {
    top: 0;
  }
}
.main-greet-bg1 {
  height: 780px;
  width: 67%;
  background: linear-gradient(316deg, #bacac4 11.84%, #f4f4f4 77.42%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-greet-bg2 {
  width: 33%;
}
.main-greet-bg-div {
  height: 618px;
  background: #f5f0e1;
}
.main-greet-bg-link {
  height: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: #463f3a;
  transition: 0.5s;
}
.main-greet-bg-link:hover {
  opacity: 0.9;
}
.main-greet-bg-text {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 16.3333px;
  line-height: 20px;
  letter-spacing: 0.683518px;
  color: #fff;
  text-transform: uppercase;
}
.main-greet-content {
  height: 780px;
  display: flex;
  position: relative;
  z-index: 2;
  top: -780px;
}
.main-greet-img {
  display: block;
  position: relative;
  height: 1049px;
  width: 594px;
  top: -260px;
  margin-left: 46px;
  animation: main-greet-img 1.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes main-greet-img {
  from {
    top: -1600px;
  }
  to {
    top: -260px;
  }
}
.main-greet-title-box {
  height: 780px;
  margin-left: 21px;
  animation: main-greet-title-box 1.5s;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
  position: relative;
}
@keyframes main-greet-title-box {
  from {
    left: 2000px;
  }
  to {
    left: 0px;
  }
}
.main-greet-text {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.184242px;
  color: #8a817c;
}
.main-greet-text:first-child {
  margin-top: 188px;
}
.main-greet-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 400%;
  line-height: 70px;
  letter-spacing: -1.66px;
  color: #2c2e3f;
  margin-top: 119px;
}
.main-greet-title:last-child {
  margin-top: 0;
}
/* ----------------- MAIN COOLECTIONS ------------------*/
.main-coll {
  display: flex;
  margin-top: 230px;
  padding: 0 9%;
}
/* ----------------- MAIN COLL LINKS ------------------*/
.main-coll-links-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
}
/* ----------------- MAIN COLL CONTENT ------------------*/
.main-coll-content-box {
  display: block;
}
.main-coll-content {
  display: flex;
  margin-left: 83px;
}
.main-coll-content-text {
  width: 240px;
  height: 36px;
  text-align: center;
  padding: 17px 0;
  position: relative;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.415px;
  color: #2c2e3f;
  background-color: #fff;
}
/* ----------------- PENDANT ------------------*/
.main-coll-pendant {
  margin-left: 133px;
  width: 400px;
  height: 520px;
  background-color: #f4f3ee;
}
.main-coll-content-img-pendant {
  position: relative;
  right: 46px;
  width: 382px;
}
.main-coll-content-text-pendant {
  top: 85px;
  left: 160px;
}
/* ----------------- SHADE ------------------*/
.main-coll-shade {
  margin-top: 30px;
  width: 530px;
  height: 425px;
  background-color: #f2f2f4;
}
.main-coll-content-img-shade {
  position: relative;
  width: 286px;
  left: 210px;
  top: 37px;
}
.main-coll-content-text-shade {
  bottom: 490px;
}
/* ----------------- SQUARE ------------------*/
.main-coll-square {
  margin-top: 65px;
  margin-left: 133px;
  width: 400px;
  height: 320px;
  background-color: #ffeddb;
}
.main-coll-content-img-square {
  position: relative;
  width: 420px;
  right: 133px;
}
.main-coll-content-text-square {
  bottom: 435px;
  left: 160px;
}

/* ----------------- COLL2 ------------------*/
.main-coll-content2 {
  margin-left: 26px;
}
.main-coll-content-title {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 4.03333px;
  color: rgba(44, 46, 63, 0.698039);
  margin-left: 137px;
  margin-bottom: 250px;
  width: 370px;
}

/* ----------------- LINK ------------------*/
.main-coll-link {
  background-color: #bcb8b1;
  width: 376px;
  height: 390px;
}
.main-coll-content-img-link {
  position: relative;
  left: 10px;
  top: 115px;
  width: 511px;
}
.main-coll-content-text-link {
  top: 187px;
  right: 2px;
}
/* ----------------- ALGORITHM ------------------*/
.main-coll-algorithm {
  background-color: #463f3a;
  width: 504px;
  height: 363px;
  margin-top: 27px;
}
.main-coll-content-img-algorithm {
  position: relative;
  width: 504px;
  mix-blend-mode: screen;
}
.main-coll-content-text-algorithm {
  bottom: 330px;
  left: 267px;
}
/* ----------------- TROM ------------------*/
.main-coll-trom {
  background-color: #e0afa0;
  width: 408px;
  height: 364px;
  margin-top: 26px;
}
.main-coll-content-img-trom {
  width: 384px;
  position: relative;
  left: 100px;
  bottom: 70px;
}
.main-coll-content-text-trom {
  bottom: 2px;
  right: 1px;
}

/* ----------------- MAIN TYPES ------------------*/
.main-types {
  margin-top: 210px;
}
.main-types-subtitle {
  margin-left: 9%;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.161212px;
  color: #2c2e3f;
}
.main-types-list {
  margin-top: 125px;
}
.main-types-item {
  display: flex;
  margin-bottom: 260px;
}
.main-types-item:last-child {
  justify-content: space-between;
}
.main-types-img {
  width: 1090px;
  height: 780px;
}
.main-types-img:first-child {
  margin-right: 132px;
}
.main-types-box1 {
  margin-top: 160px;
}
.main-types-box2 {
  margin-left: 9%;
  margin-top: 160px;
}
.main-types-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
  margin-bottom: 50px;
}
.main-types-text {
  width: 430px;
  font-family: var(--font2);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #141517;
  opacity: 0.7;
}
.main-types-link {
  width: 394px;
  justify-content: center;
  padding: 25px 0;
  display: flex;
  align-items: center;
  margin-top: 132px;
  border: 2px solid #504b48;
  border-radius: 95.2045px;
  transition: 0.5s;
}
.main-types-link:hover {
  opacity: 0.5;
}
.main-types-link2 {
  margin-top: 132px;
}
.main-types-link p {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.585873px;
  text-transform: uppercase;
  color: #504b48;
  margin-right: 27px;
}

/* ----------------- MAIN GALLERY ------------------*/
.main-gallery {
  margin-bottom: 173px;
}
.main-gallery-title {
  margin-left: 9%;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: -1.66px;
  color: #463f3a;
}

/* ----------------- ADAPTIVE ------------------*/

@media (max-width: 1700px) {
  .main-greet {
    height: 700px;
  }
  .main-greet-bg1 {
    height: 700px;
  }
  .main-greet-bg-div {
    height: 550px;
    background: #f5f0e1;
  }
  .main-greet-bg-link {
    height: 152px;
    justify-content: space-between;
  }
  .main-greet-bg-link svg {
    width: 70px;
  }
  .main-greet-bg-text {
    font-size: 14px;
  }
  .main-greet-content {
    height: 700px;
    top: -755px;
  }
  .main-greet-img {
    display: block;
    position: relative;
    height: 960px;
    width: 570px;
    top: -210px;
    margin-left: 20px;
  }
  @keyframes main-greet-img {
    from {
      top: -1200px;
    }
    to {
      top: -210px;
    }
  }
  .main-greet-title-box {
    height: 700px;
    margin-left: 0;
  }
  .main-greet-text {
    font-size: 30px;
  }
  .main-greet-text:first-child {
    margin-top: 200px;
  }
  .main-greet-title {
    font-size: 58px;
    margin-top: 100px;
  }
  .main-greet-title:last-child {
    margin-top: 0;
  }
  /* ----------------- MAIN COOLECTIONS ------------------*/
  .main-coll {
    margin-top: 200px;
  }
  /* ----------------- MAIN COLL LINKS ------------------*/
  .main-coll-links-title {
    font-size: 60px;
  }
  /* ----------------- MAIN COLL CONTENT ------------------*/
  .main-coll-content {
    margin-left: 30px;
  }
  .main-coll-content-text {
    width: 230px;
    height: 34px;
    padding: 17px 0;
    font-size: 22px;
  }
  /* ----------------- PENDANT ------------------*/
  .main-coll-pendant {
    margin-left: 133px;
    width: 380px;
    height: 500px;
  }
  .main-coll-content-img-pendant {
    right: 46px;
    width: 382px;
  }
  .main-coll-content-text-pendant {
    top: 65px;
    left: 150px;
  }
  /* ----------------- SHADE ------------------*/
  .main-coll-shade {
    margin-top: 30px;
    width: 510px;
    height: 405px;
  }
  .main-coll-content-img-shade {
    width: 270px;
    left: 210px;
    top: 30px;
  }
  .main-coll-content-text-shade {
    bottom: 461px;
    right: 3px;
  }
  /* ----------------- SQUARE ------------------*/
  .main-coll-square {
    margin-top: 60px;
    margin-left: 133px;
    width: 380px;
    height: 300px;
  }
  .main-coll-content-img-square {
    width: 400px;
    right: 123px;
  }
  .main-coll-content-text-square {
    bottom: 413px;
    left: 152px;
  }
  .main-coll-content-title {
    margin-left: 100px;
    margin-bottom: 250px;
  }
  /* ----------------- LINK ------------------*/
  .main-coll-link {
    width: 356px;
    height: 370px;
  }
  .main-coll-content-img-link {
    left: 10px;
    top: 100px;
    width: 490px;
  }
  .main-coll-content-text-link {
    top: 174px;
    right: 2px;
  }
  /* ----------------- ALGORITHM ------------------*/
  .main-coll-algorithm {
    width: 484px;
    height: 343px;
  }
  .main-coll-content-img-algorithm {
    width: 484px;
  }
  .main-coll-content-text-algorithm {
    bottom: 318px;
    left: 255px;
  }
  /*----------------- TROM ------------------*/
  .main-coll-trom {
    width: 388px;
    height: 344px;
  }
  .main-coll-content-img-trom {
    width: 364px;
    left: 100px;
    bottom: 70px;
  }
  .main-coll-content-text-trom {
    bottom: 1px;
    right: 1px;
  }
  /* ----------------- MAIN TYPES ------------------*/
  .main-types-item {
    margin-bottom: 150px;
  }
  .main-types-img {
    width: 888px;
    height: 653px;
  }
  .main-types-img:first-child {
    margin-right: 115px;
  }
  .main-types-box1 {
    margin-right: 280px;
    margin-top: 120px;
  }
  .main-types-box2 {
    margin-top: 120px;
  }
  .main-types-title {
    font-size: 64px;
    margin-bottom: 50px;
  }
  .main-types-link {
    margin-top: 122px;
    border: 2px solid #504b48;
    border-radius: 95.2045px;
  }
  .main-types-link2 {
    margin-top: 122px;
  }
}

@media (max-width: 1570px) {
  .main-greet {
    height: 600px;
  }
  .main-greet-bg1 {
    height: 600px;
  }
  .main-greet-bg-div {
    height: 484px;
  }
  .main-greet-bg-link {
    height: 120px;
  }
  .main-greet-bg-link svg {
    width: 65px;
  }
  .main-greet-bg-text {
    font-size: 12px;
  }
  .main-greet-content {
    height: 600px;
    top: -700px;
  }
  .main-greet-img {
    height: 820px;
    width: 470px;
    top: -180px;
    margin-left: 30px;
  }
  @keyframes main-greet-img {
    from {
      top: -1200px;
    }
    to {
      top: -180px;
    }
  }
  .main-greet-title-box {
    height: 600px;
  }
  .main-greet-text {
    font-size: 25px;
  }
  .main-greet-text:first-child {
    margin-top: 190px;
  }
  .main-greet-title {
    font-size: 53px;
    margin-top: 70px;
  }
  /* ----------------- MAIN COOLECTIONS ------------------*/
  .main-coll {
    margin-top: 180px;
  }
  /* ----------------- MAIN COLL LINKS ------------------*/
  .main-coll-links-title {
    font-size: 53px;
  }
  /* ----------------- MAIN COLL CONTENT ------------------*/
  .main-coll-content-text {
    width: 220px;
    height: 30px;
    padding: 17px 0;
    font-size: 18px;
  }
  /* ----------------- PENDANT ------------------*/
  .main-coll-pendant {
    margin-left: 133px;
    width: 360px;
    height: 460px;
  }
  .main-coll-content-img-pendant {
    right: 46px;
    width: 362px;
  }
  .main-coll-content-text-pendant {
    top: 49px;
    left: 150px;
  }
  /* ----------------- SHADE ------------------*/
  .main-coll-shade {
    margin-top: 30px;
    width: 490px;
    height: 385px;
  }
  .main-coll-content-img-shade {
    width: 250px;
    left: 210px;
    top: 20px;
  }
  .main-coll-content-text-shade {
    bottom: 428px;
    right: 3px;
  }
  /* ----------------- SQUARE ------------------*/
  .main-coll-square {
    margin-top: 50px;
    margin-left: 133px;
    width: 360px;
    height: 280px;
  }
  .main-coll-content-img-square {
    width: 360px;
    right: 110px;
  }
  .main-coll-content-text-square {
    bottom: 378px;
    left: 140px;
  }
  .main-coll-content-title {
    margin-left: 60px;
    margin-bottom: 200px;
  }
  /* ----------------- LINK ------------------*/
  .main-coll-link {
    width: 336px;
    height: 350px;
  }
  .main-coll-content-img-link {
    left: 10px;
    top: 80px;
    width: 440px;
  }
  .main-coll-content-text-link {
    top: 172px;
    right: 2px;
  }
  /* ----------------- ALGORITHM ------------------*/
  .main-coll-algorithm {
    width: 464px;
    height: 323px;
  }
  .main-coll-content-img-algorithm {
    width: 464px;
  }
  .main-coll-content-text-algorithm {
    bottom: 304px;
    left: 244px;
  }
  /*----------------- TROM ------------------*/
  .main-coll-trom {
    width: 368px;
    height: 324px;
  }
  .main-coll-content-img-trom {
    width: 344px;
    left: 100px;
    bottom: 60px;
  }
  .main-coll-content-text-trom {
    bottom: 1px;
    right: 1px;
  }
  /* ----------------- MAIN TYPES ------------------*/
  .main-types-item {
    margin-bottom: 150px;
  }
  .main-types-subtitle {
    font-size: 23px;
  }
  .main-types-img {
    width: 680px;
    height: 487px;
  }
  .main-types-img:first-child {
    margin-right: 80px;
  }
  .main-types-box1 {
    margin-right: 330px;
    margin-top: 60px;
  }
  .main-types-box2 {
    margin-top: 60px;
  }
  .main-types-title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .main-types-text {
    font-size: 24px;
  }
  .main-types-link2 {
    margin-top: 100px;
  }
  .main-types-link {
    width: 300px;
    padding: 20px 0;
    margin-top: 100px;
  }
  .main-types-link2 {
    margin-top: 100px;
  }
  .main-types-link p {
    font-size: 11px;
    margin-right: 27px;
  }
  .main-types-link svg {
    width: 65px;
  }
  /* ----------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 160px;
  }
  .main-gallery-title {
    font-size: 45px;
  }
}
@media (max-width: 1460px) {
  .main {
    padding-top: 70px;
  }
  .main-greet {
    height: 500px;
  }
  .main-greet-bg1 {
    height: 500px;
  }
  .main-greet-bg-div {
    height: 400px;
  }
  .main-greet-bg-link {
    height: 103px;
  }
  .main-greet-bg-link svg {
    width: 60px;
  }
  .main-greet-bg-text {
    font-size: 11px;
  }
  .main-greet-content {
    height: 500px;
    top: -600px;
  }
  .main-greet-img {
    height: 670px;
    width: 400px;
    top: -75px;
    margin-left: 60px;
    margin-right: 5%;
  }
  @keyframes main-greet-img {
    from {
      top: -1200px;
    }
    to {
      top: -75px;
    }
  }
  .main-greet-title-box {
    height: 500px;
  }
  .main-greet-text {
    font-size: 20px;
    line-height: 24px;
  }
  .main-greet-text:first-child {
    margin-top: 230px;
  }
  .main-greet-title {
    font-size: 45px;
    line-height: 35px;
    margin-top: 70px;
  }
  .main-coll {
    margin-top: 150px;
  }
  .main-coll-links-title {
    font-size: 40px;
    line-height: 40px;
  }
  .main-coll-content-text {
    width: 220px;
    height: 30px;
    padding: 17px 0;
    font-size: 18px;
  }
  .main-coll-pendant {
    margin-left: 133px;
    width: 320px;
    height: 410px;
  }
  .main-coll-content-img-pendant {
    right: 46px;
    width: 312px;
  }
  .main-coll-content-text-pendant {
    top: 46px;
    left: 100px;
  }
  .main-coll-shade {
    margin-top: 25px;
    width: 450px;
    height: 305px;
  }
  .main-coll-content-img-shade {
    width: 210px;
    left: 210px;
    top: 10px;
  }
  .main-coll-content-text-shade {
    bottom: 360px;
    right: 3px;
  }
  .main-coll-square {
    margin-top: 50px;
    margin-left: 133px;
    width: 320px;
    height: 240px;
  }
  .main-coll-content-img-square {
    width: 320px;
    right: 98px;
  }
  .main-coll-content-text-square {
    bottom: 329px;
    left: 100px;
  }
  .main-coll-content-title {
    margin-left: 60px;
    margin-bottom: 100px;
  }
  .main-coll-link {
    width: 296px;
    height: 310px;
  }
  .main-coll-content-img-link {
    left: 10px;
    top: 80px;
    width: 400px;
  }
  .main-coll-content-text-link {
    top: 141px;
    right: 2px;
  }
  .main-coll-algorithm {
    width: 424px;
    height: 283px;
  }
  .main-coll-content-img-algorithm {
    width: 424px;
  }
  .main-coll-content-text-algorithm {
    bottom: 279px;
    left: 206px;
  }
  .main-coll-trom {
    width: 328px;
    height: 324px;
  }
  .main-coll-content-img-trom {
    width: 304px;
    left: 80px;
    bottom: 65px;
  }
}
@media (max-width: 1370px) {
  .main {
    padding-top: 40px;
  }
  .main-greet {
    padding: 0 13%;
  }
  .main-greet-bg-link {
    padding: 0 50px;
  }
  .main-greet-bg-link svg {
    width: 55px;
  }
  .main-greet-bg-text {
    font-size: 11px;
  }
  .main-greet-content {
    top: -550px;
  }
  .main-greet-img {
    height: 600px;
    width: 350px;
    top: -65px;
    margin-left: 15px;
    margin-right: 30px;
  }
  @keyframes main-greet-img {
    from {
      top: -1200px;
    }
    to {
      top: -65px;
    }
  }
  .main-greet-text {
    font-size: 20px;
    line-height: 24px;
  }
  .main-greet-text:first-child {
    margin-top: 200px;
  }
  .main-greet-title {
    font-size: 45px;
    line-height: 40px;
    margin-top: 70px;
  }
  /* ----------------- MAIN COOLECTIONS ------------------*/
  .main-coll {
    margin-top: 130px;
  }
  /* ----------------- MAIN COLL LINKS ------------------*/
  .main-coll-links-title {
    font-size: 35px;
  }
  /* ----------------- MAIN COLL CONTENT ------------------*/
  .main-coll-content-text {
    width: 180px;
    height: 25px;
    padding: 17px 0;
    font-size: 14px;
  }
  /* ----------------- PENDANT ------------------*/
  .main-coll-pendant {
    margin-left: 133px;
    width: 260px;
    height: 310px;
  }
  .main-coll-content-img-pendant {
    right: 46px;
    width: 240px;
  }
  .main-coll-content-text-pendant {
    top: 23px;
    left: 80px;
  }
  /* ----------------- SHADE ------------------*/
  .main-coll-shade {
    margin-top: 25px;
    width: 390px;
    height: 285px;
  }
  .main-coll-content-img-shade {
    width: 190px;
    left: 180px;
    top: 10px;
  }
  .main-coll-content-text-shade {
    bottom: 325px;
    right: 3px;
  }
  /* ----------------- SQUARE ------------------*/
  .main-coll-square {
    margin-top: 50px;
    margin-left: 133px;
    width: 260px;
    height: 200px;
  }
  .main-coll-content-img-square {
    width: 260px;
    right: 80px;
  }
  .main-coll-content-text-square {
    bottom: 280px;
    left: 90px;
  }
  .main-coll-content-title {
    margin-left: 50px;
    margin-bottom: 80px;
    font-size: 13px;
  }
  /* ----------------- LINK ------------------*/
  .main-coll-link {
    width: 226px;
    height: 280px;
  }
  .main-coll-content-img-link {
    left: 10px;
    top: 80px;
    width: 320px;
  }
  .main-coll-content-text-link {
    top: 140px;
    right: 10px;
  }
  /* ----------------- ALGORITHM ------------------*/
  .main-coll-algorithm {
    width: 364px;
    height: 263px;
  }
  .main-coll-content-img-algorithm {
    width: 364px;
  }
  .main-coll-content-text-algorithm {
    bottom: 250px;
    left: 190px;
  }
  /*----------------- TROM ------------------*/
  .main-coll-trom {
    width: 272px;
    height: 254px;
  }
  .main-coll-content-img-trom {
    width: 254px;
    left: 80px;
    bottom: 58px;
  }
  /* ----------------- MAIN TYPES ------------------*/
  .main-types {
    margin-top: 100px;
  }
  .main-types-list {
    margin-top: 70px;
  }
  .main-types-item {
    margin-bottom: 100px;
  }
  .main-types-subtitle {
    font-size: 18px;
  }
  .main-types-img {
    width: 606px;
    height: 419px;
  }
  .main-types-img:first-child {
    margin-right: 220px;
  }
  .main-types-box1 {
    margin-top: 60px;
  }
  .main-types-box2 {
    margin-top: 60px;
  }
  .main-types-title {
    font-size: 35px;
    margin-bottom: 50px;
    line-height: 35px;
  }
  .main-types-text {
    font-size: 20px;
    line-height: 20px;
  }
  .main-types-link2 {
    margin-top: 100px;
  }
  .main-types-link {
    width: 300px;
    padding: 20px 0;
    margin-top: 100px;
  }
  .main-types-link p {
    font-size: 10px;
    margin-right: 27px;
  }
  .main-types-link svg {
    width: 55px;
  }
  /* ----------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 160px;
  }
  .main-gallery-title {
    font-size: 35px;
  }
}
@media (max-width: 1220px) {
  .main-greet {
    height: 400px;
  }
  .main-greet-bg1 {
    height: 400px;
  }
  .main-greet-bg-div {
    height: 330px;
  }
  .main-greet-bg-link {
    height: 73px;
  }
  .main-greet-bg-link svg {
    width: 45px;
  }
  .main-greet-bg-text {
    font-size: 11px;
  }
  .main-greet-content {
    height: 400px;
    top: -550px;
  }
  .main-greet-img {
    height: 520px;
    width: 300px;
    top: 20px;
    margin-left: 0px;
    margin-right: 5%;
  }
  @keyframes main-greet-img {
    from {
      top: -1200px;
    }
    to {
      top: 20px;
    }
  }
  .main-greet-title-box {
    height: 400px;
  }
  .main-greet-text {
    font-size: 14px;
    line-height: 18px;
  }
  .main-greet-text:first-child {
    margin-top: 250px;
  }
  .main-greet-title {
    font-size: 30px;
    line-height: 28px;
    margin-top: 70px;
  }
  /* ----------------- MAIN COOLECTIONS ------------------*/
  .main-coll {
    margin-top: 130px;
    padding: 0 4%;
  }
  /* ----------------- MAIN COLL LINKS ------------------*/
  .main-coll-links-title {
    font-size: 30px;
  }
  .main-coll-content-text {
    width: 120px;
    height: 29px;
    padding: 17px 0;
    font-size: 12px;
  }
  .main-coll-content2 {
    margin-left: 15px;
  }
  /* ----------------- PENDANT ------------------*/
  .main-coll-pendant {
    margin-left: 133px;
    width: 220px;
    height: 280px;
  }
  .main-coll-content-img-pendant {
    right: 46px;
    width: 200px;
  }
  .main-coll-content-text-pendant {
    top: 23px;
    left: 100px;
  }
  /* ----------------- SHADE ------------------*/
  .main-coll-shade {
    margin-top: 25px;
    width: 350px;
    height: 225px;
  }
  .main-coll-content-img-shade {
    width: 140px;
    left: 180px;
    top: 20px;
  }
  .main-coll-content-text-shade {
    bottom: 240px;
    right: 3px;
  }
  /* ----------------- SQUARE ------------------*/
  .main-coll-square {
    margin-top: 50px;
    margin-left: 133px;
    width: 220px;
    height: 180px;
  }
  .main-coll-content-img-square {
    width: 220px;
    right: 67px;
  }
  .main-coll-content-text-square {
    bottom: 230px;
    left: 100px;
  }
  .main-coll-content-title {
    margin-left: 0px;
    position: relative;
    right: 60px;
    margin-bottom: 80px;
    font-size: 13px;
  }
  /* ----------------- LINK ------------------*/
  .main-coll-link {
    width: 186px;
    height: 240px;
  }
  .main-coll-content-img-link {
    left: 10px;
    top: 80px;
    width: 280px;
  }
  .main-coll-content-text-link {
    top: 110px;
    right: 1px;
  }
  /* ----------------- ALGORITHM ------------------*/
  .main-coll-algorithm {
    width: 314px;
    height: 223px;
  }
  .main-coll-content-img-algorithm {
    width: 314px;
  }
  .main-coll-content-text-algorithm {
    bottom: 210px;
    left: 200px;
  }
  /*----------------- TROM ------------------*/
  .main-coll-trom {
    width: 232px;
    height: 224px;
  }
  .main-coll-content-img-trom {
    width: 224px;
    left: 80px;
    bottom: 62px;
    left: 50px;
  }
  /* ----------------- MAIN TYPES ------------------*/
  .main-types {
    margin-top: 60px;
  }
  .main-types-list {
    margin-top: 55px;
  }
  .main-types-item {
    margin-bottom: 60px;
  }
  .main-types-subtitle {
    font-size: 14px;
  }
  .main-types-img {
    width: 50%;
    height: 30%;
  }
  .main-types-img:first-child {
    margin-right: 10%;
  }
  .main-types-box1 {
    margin-top: 30px;
  }
  .main-types-box2 {
    margin-top: 30px;
  }
  .main-types-title {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 35px;
  }
  .main-types-text {
    font-size: 18px;
    line-height: 20px;
  }
  .main-types-link2 {
    margin-top: 80px;
  }
  .main-types-link {
    width: 200px;
    padding: 20px 0;
    margin-top: 80px;
  }
  .main-types-link p {
    font-size: 9px;
    margin-right: 15px;
  }
  .main-types-link svg {
    width: 40px;
  }
  /* ----------------- MAIN GALLERY ------------------*/
  .main-gallery {
    margin-bottom: 120px;
  }
  .main-gallery-title {
    font-size: 30px;
  }
}
