input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
input:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-greet {
  padding: 0 19% 0 16.5%;
}
.main-greet-bg-box {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  z-index: 3;
  animation: main-greet-bg-box1 1.3s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}
@keyframes main-greet-bg-box1 {
  from {
    top: 1200px;
  }
  to {
    top: 0;
  }
}
.main-greet-bg1 {
  height: 550px;
  width: 66%;
  background: linear-gradient(316deg, #bacac4 11.84%, #f4f4f4 77.42%);
}
.main-greet-bg2 {
  width: 34%;
}
.main-greet-bg-div {
  height: 430px;
  background: #f5f0e1;
}
.main-greet-bg-link {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 25px;
  background-color: #463f3a;
  transition: 0.5s;
}
.main-greet-bg-link svg {
  width: 85px;
}
.main-greet-bg-link:hover {
  opacity: 0.9;
}
.main-greet-bg-text {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 16.3333px;
  line-height: 20px;
  letter-spacing: 0.683518px;
  color: #fff;
  text-transform: uppercase;
}
.main-greet-content {
  width: 65%;
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 2;
  top: 0;
}
.main-greet-img {
  display: block;
  position: relative;
  width: 510px;
  top: -155px;
  margin-left: 50px;
  animation: main-greet-img 1.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes main-greet-img {
  from {
    top: -1600px;
  }
  to {
    top: -155px;
  }
}
.main-greet-title-box {
  margin-left: 35px;
  animation: main-greet-title-box 1.5s;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
  position: relative;
}
@keyframes main-greet-title-box {
  from {
    left: 2000px;
  }
  to {
    left: 0px;
  }
}
.main-greet-text {
  display: flex;
  font-family: var(--font2);
  font-weight: 400;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: -0.184242px;
  text-transform: uppercase;
  color: #8a817c;
  padding-top: 380px;
  padding-left: 43%;
}
.main-greet-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: -1.66px;
  text-transform: uppercase;
  color: #2c2e3f;
}
.main-greet-title:last-child {
  margin-bottom: 160px;
}
@media (min-width: 4000px) {
  .main-greet {
    padding: 0 23% 0 17.5%;
  }
  .main-greet-bg1 {
    height: 900px;
  }
  .main-greet-bg-div {
    height: 700px;
  }
  .main-greet-bg-link {
    height: 200px;
    padding: 0 100px 0 100px;
  }
  .main-greet-bg-link svg {
    width: 150px;
  }
  .main-greet-bg-text {
    font-size: 26.3333px;
  }
  .main-greet-img {
    width: 840px;
    top: -230px;
    margin-left: 150px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -230px;
    }
  }
  .main-greet-title-box {
    margin-left: 50px;
  }
  .main-greet-text {
    font-size: 25px;
    padding-top: 650px;
    padding-left: 52%;
  }
  .main-greet-title {
    font-size: 90px;
    line-height: 110px;
  }
  .main-greet-title:last-child {
    margin-bottom: 250px;
  }
}
@media (max-width: 1800px) {
  .main-greet-bg-link svg {
    width: 75px;
  }
  .main-greet-bg-text {
    font-size: 15px;
  }
  .main-greet-img {
    width: 500px;
  }
  .main-greet-title-box {
    margin-left: 20px;
  }
  .main-greet-text {
    padding-top: 380px;
    padding-left: 38%;
  }
}
@media (max-width: 1660px) {
  .main-greet-bg1 {
    height: 500px;
  }
  .main-greet-bg-div {
    height: 400px;
  }
  .main-greet-bg-link {
    height: 100px;
    padding: 0 50px 0 20px;
  }
  .main-greet-bg-link svg {
    width: 75px;
  }
  .main-greet-bg-text {
    font-size: 14px;
  }
  .main-greet-img {
    width: 460px;
    top: -130px;
    margin-left: 30px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -130px;
    }
  }
  .main-greet-title-box {
    margin-left: 15px;
  }
  .main-greet-text {
    font-size: 14px;
    padding-top: 360px;
    padding-left: 35%;
  }
  .main-greet-title {
    font-size: 37px;
  }
  .main-greet-title:last-child {
    margin-bottom: 140px;
  }
}
@media (max-width: 1500px) {
  .main-greet-bg1 {
    height: 470px;
  }
  .main-greet-bg-div {
    height: 380px;
  }
  .main-greet-bg-link {
    height: 90px;
    padding: 0 40px 0 20px;
  }
  .main-greet-bg-link svg {
    width: 68px;
  }
  .main-greet-bg-text {
    font-size: 13px;
  }
  .main-greet-img {
    width: 430px;
    top: -130px;
    margin-left: 10px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -130px;
    }
  }
  .main-greet-title-box {
    margin-left: 10px;
  }
  .main-greet-text {
    font-size: 14px;
    padding-top: 345px;
    padding-left: 30%;
  }
  .main-greet-title {
    font-size: 35px;
    line-height: 55px;
  }
  .main-greet-title:last-child {
    margin-bottom: 120px;
  }
}
@media (max-width: 1370px) {
  .main-greet-bg1 {
    height: 430px;
  }
  .main-greet-bg-div {
    height: 350px;
  }
  .main-greet-bg-link {
    height: 80px;
    padding: 0 30px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 63px;
  }
  .main-greet-bg-text {
    font-size: 12px;
  }
  .main-greet-img {
    width: 400px;
    top: -110px;
    margin-left: 0px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -110px;
    }
  }
  .main-greet-title-box {
    margin-left: 5px;
  }
  .main-greet-text {
    font-size: 13px;
    padding-top: 310px;
    padding-left: 28%;
  }
  .main-greet-title {
    font-size: 32px;
    line-height: 50px;
  }
  .main-greet-title:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 1225px) {
  .main-greet-bg1 {
    height: 410px;
  }
  .main-greet-bg-div {
    height: 340px;
  }
  .main-greet-bg-link {
    height: 70px;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 60px;
  }
  .main-greet-bg-text {
    font-size: 11px;
  }
  .main-greet-img {
    width: 360px;
    top: -99px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -99px;
    }
  }
  .main-greet-text {
    font-size: 13px;
    padding-top: 305px;
    padding-left: 23%;
  }
  .main-greet-title {
    font-size: 28px;
    line-height: 47px;
  }
  .main-greet-title:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 1150px) {
  .main-greet {
    padding: 0 15% 0 10.5%;
  }
  .main-greet-bg1 {
    height: 380px;
  }
  .main-greet-bg-div {
    height: 310px;
  }
  .main-greet-bg-link {
    height: 70px;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 55px;
  }
  .main-greet-bg-text {
    font-size: 10px;
  }
  .main-greet-img {
    width: 350px;
    top: -99px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -99px;
    }
  }
  .main-greet-text {
    font-size: 12px;
    padding-top: 277px;
    padding-left: 25%;
  }
  .main-greet-title {
    font-size: 25px;
    line-height: 42px;
  }
  .main-greet-title:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 950px) {
  .main-greet-bg1 {
    height: 330px;
  }
  .main-greet-bg-div {
    height: 260px;
  }
  .main-greet-bg-link {
    height: 70px;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 50px;
  }
  .main-greet-bg-text {
    font-size: 10px;
  }
  .main-greet-img {
    width: 320px;
    top: -80px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -80px;
    }
  }
  .main-greet-text {
    font-size: 11px;
    padding-top: 226px;
    padding-left: 24%;
  }
  .main-greet-title {
    font-size: 20px;
    line-height: 35px;
  }
  .main-greet-title:last-child {
    margin-bottom: 70px;
  }
}
@media (max-width: 850px) {
  .main-greet-bg1 {
    height: 300px;
  }
  .main-greet-bg-div {
    height: 240px;
  }
  .main-greet-bg-link {
    height: 60px;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 40px;
  }
  .main-greet-bg-text {
    font-size: 9px;
  }
  .main-greet-img {
    width: 290px;
    top: -70px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -70px;
    }
  }
  .main-greet-text {
    font-size: 11px;
    padding-top: 210px;
    padding-left: 15%;
  }
  .main-greet-title {
    font-size: 20px;
    line-height: 35px;
  }
  .main-greet-title:last-child {
    margin-bottom: 50px;
  }
}
@media (max-width: 755px) {
  .main-greet-bg1 {
    height: 280px;
  }
  .main-greet-bg-div {
    height: 220px;
  }
  .main-greet-bg-link {
    height: 60px;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 30px;
  }
  .main-greet-bg-text {
    font-size: 8px;
  }
  .main-greet-img {
    width: 240px;
    top: -50px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -50px;
    }
  }
  .main-greet-text {
    font-size: 10px;
    padding-top: 190px;
    padding-left: 10px;
  }
  .main-greet-title {
    font-size: 18px;
    line-height: 30px;
    right: 60px;
  }
  .main-greet-title:last-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 650px) {
  .main-greet-bg1 {
    height: 280px;
  }
  .main-greet-bg-div {
    height: 220px;
  }
  .main-greet-bg-link {
    height: 60px;
    padding: 0 10px 0 10px;
  }
  .main-greet-bg-link svg {
    width: 30px;
  }
  .main-greet-bg-text {
    font-size: 6px;
  }
  .main-greet-content {
    width: 85%;
  }
  .main-greet-img {
    width: 220px;
    top: -40px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -40px;
    }
  }
  .main-greet-text {
    font-size: 8px;
    padding-top: 190px;
    padding-left: 10px;
  }
  .main-greet-title {
    font-size: 17px;
    line-height: 30px;
    right: 90px;
  }
  .main-greet-title:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 540px) {
  .main-greet {
    padding: 0 13% 0 8.5%;
  }
  .main-greet-bg1 {
    height: 230px;
  }
  .main-greet-bg-div {
    height: 190px;
  }
  .main-greet-bg-link {
    height: 40px;
    padding: 0 7px;
  }
  .main-greet-bg-link svg {
    width: 25px;
  }
  .main-greet-bg-text {
    font-size: 6px;
  }
  .main-greet-content {
    width: 85%;
  }
  .main-greet-img {
    width: 200px;
    top: -40px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -40px;
    }
  }
  .main-greet-text {
    font-size: 7px;
    padding-top: 160px;
    padding-left: 10px;
  }
  .main-greet-title {
    position: relative;
    font-size: 15px;
    line-height: 25px;
    left: -40px;
  }
  .main-greet-title:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .main-greet {
    padding: 0 13% 0 8.5%;
  }
  .main-greet-bg1 {
    height: 180px;
  }
  .main-greet-bg-div {
    height: 140px;
  }
  .main-greet-bg-link {
    height: 40px;
    padding: 0 5px;
  }
  .main-greet-bg-link svg {
    width: 20px;
  }
  .main-greet-bg-text {
    font-size: 5px;
  }
  .main-greet-content {
    width: 85%;
  }
  .main-greet-img {
    width: 160px;
    top: -40px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -40px;
    }
  }
  .main-greet-text {
    font-size: 6px;
    padding-top: 110px;
    padding-left: 10px;
  }
  .main-greet-title {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    left: -20px;
  }
  .main-greet-title:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .main-greet {
    padding: 0 13% 0 8.5%;
  }
  .main-greet-bg1 {
    height: 150px;
  }
  .main-greet-bg-div {
    height: 120px;
  }
  .main-greet-bg-link {
    height: 30px;
    padding: 0 5px;
  }
  .main-greet-bg-link svg {
    width: 15px;
  }
  .main-greet-bg-text {
    font-size: 4px;
  }
  .main-greet-content {
    width: 85%;
  }
  .main-greet-img {
    width: 150px;
    top: -40px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -40px;
    }
  }
  .main-greet-text {
    font-size: 5px;
    padding-top: 90px;
    padding-left: 10px;
  }
  .main-greet-title {
    position: relative;
    font-size: 11px;
    line-height: 18px;
    left: -20px;
    letter-spacing: -1px;
  }
  .main-greet-title:last-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .main-greet {
    padding: 0 13% 0 8.5%;
  }
  .main-greet-bg1 {
    height: 150px;
  }
  .main-greet-bg-div {
    height: 120px;
  }
  .main-greet-bg-link {
    height: 30px;
    padding: 0 3px;
  }
  .main-greet-bg-link svg {
    width: 12px;
  }
  .main-greet-bg-text {
    font-size: 3px;
  }
  .main-greet-content {
    width: 85%;
  }
  .main-greet-img {
    width: 130px;
    top: -30px;
  }
  @keyframes main-greet-img {
    from {
      top: -1600px;
    }
    to {
      top: -30px;
    }
  }
  .main-greet-text {
    font-size: 4px;
    padding-top: 93px;
    padding-left: 10px;
  }
  .main-greet-title {
    position: relative;
    font-size: 9px;
    line-height: 15px;
    left: -20px;
    letter-spacing: -1px;
  }
  .main-greet-title:last-child {
    margin-bottom: 20px;
  }
}
