input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
input:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-greet {
  position: relative;
  z-index: 3;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16% 0 9%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #969696 0%,
    rgba(248, 248, 248, 0) 100%
  );
  animation: main-greet 1.7s;
  animation-delay: 0s;
}
@keyframes main-greet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-greet-bg-box {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.main-greet-bg-link {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72%;
  padding: 0 25px 0 25px;
  transition: 0.5s;
  border: 1.3px solid #000000;
  border-radius: 19px;
  animation: main-greet-link 1.5s;
}
@keyframes main-greet-link {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-greet-bg-link svg {
  width: 85px;
}
.main-greet-bg-link:hover {
  opacity: 0.6;
}
.main-greet-bg-text {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 16.3333px;
  line-height: 20px;
  letter-spacing: 0.683518px;
  color: #000;
  text-transform: uppercase;
}
.main-greet-content {
  width: 60%;
  height: 700px;
}
.main-greet-img {
  display: none;
  position: relative;
  width: 430px;
  top: -900px;
  margin: 0 auto;
  animation: main-greet-img 1.7s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  transition: 1s;
}
@keyframes main-greet-img {
  from {
    top: -2000px;
  }
  to {
    top: -900px;
  }
}
.main-greet-img-active {
  opacity: 1;
  display: block;
  animation: main-greet-img-active 3s;
  transition: 4s;
}
@keyframes main-greet-img-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-greet-content-ellipse {
  position: relative;
  top: -100px;
  width: 830px;
  height: 830px;
  border-radius: 100%;
  background-color: #fff;
  margin: 0 auto;
  animation: main-greet-content-ellipse 1.8s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}
@keyframes main-greet-content-ellipse {
  from {
    width: 0;
    height: 0;
    top: 250px;
  }
  to {
    top: -100;
    width: 830px;
    height: 830px;
  }
}
.main-greet-title-box {
  animation: main-greet-title-box 2s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  position: relative;
}
@keyframes main-greet-title-box {
  from {
    right: 2000px;
  }
  to {
    right: 0px;
  }
}
.main-greet-text {
  display: flex;
  font-family: var(--font2);
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: #8a817c;
  margin-bottom: 70px;
  position: relative;
  animation: main-greet-text 2.8s;
  animation-delay: 0s;
}
@keyframes main-greet-text {
  from {
    right: 2500px;
  }
  to {
    right: 0px;
  }
}
.main-greet-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -1.66px;
  text-transform: uppercase;
  color: #2c2e3f;
}
.main-greet-title:last-child {
  margin-bottom: 50px;
}

/*------------------------------------------------------*/

.main-greet-content-list {
  position: absolute;
  top: 610px;
  display: flex;
  margin-left: 500px;
}
.main-greet-content-list-item {
  align-items: center;
  display: flex;
  background-color: transparent;
}
.main-greet-content-list-item:first-child::before {
  content: none;
}
.main-greet-content-list-item:last-child::after {
  content: none;
}
.main-greet-content-list-item-active::before {
  content: " ";
  width: 40px;
  height: 2px;
  background: #000;
  margin-right: 12px;
}
.main-greet-content-list-item-active::after {
  display: block;
  content: " ";
  width: 40px;
  height: 2px;
  background: #000;
  margin-left: 12px;
}
.main-greet-content-list-item p {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #000000;
  padding: 15px 18px;
  border: 1px solid transparent;
  border-radius: 100%;
}
.main-greet-content-list-item-active p {
  text-align: center;
  align-items: center;
  border: 1px solid #000;
  transition: 1.5s;
}
.main-greet-content-btn-title {
  display: none;
  margin-left: 500px;
  position: absolute;
  top: 570px;
  font-family: var(--font2);
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
@keyframes main-greet-content-btn-title {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.main-greet-content-btn-title-active {
  display: block;
  animation: main-greet-content-btn-title 3s;
}
.main-greet-img-link {
  position: absolute;
  margin: 0 auto;
  display: contents;
}
@media (min-width: 2560px) {
  .main-greet {
    top: -30px;
    padding: 0 5% 0 0;
    margin: 0 10% 0 10%;
  }
  .main-greet-bg-box {
    margin-right: 100px;
  }
  .main-greet-bg-link {
    height: 100px;
    width: 75%;
    padding: 0 50px 0 50px;
  }
  .main-greet-bg-link svg {
    width: 80px;
  }
  .main-greet-bg-text {
    font-size: 24.3333px;
  }
  .main-greet-content {
    height: 850px;
  }
  .main-greet-img {
    width: 500px;
    top: -1100px;
  }
  @keyframes main-greet-img {
    from {
      top: -2500px;
    }
    to {
      top: -1100px;
    }
  }
  .main-greet-content-ellipse {
    position: relative;
    top: -150px;
    width: 1000px;
    height: 1000px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 250px;
    }
    to {
      top: -150px;
      width: 1000px;
      height: 1000px;
    }
  }
  .main-greet-text {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 80px;
  }
  .main-greet-title {
    font-size: 80px;
    line-height: 89px;
  }
  .main-greet-title:last-child {
    margin-bottom: 65px;
  }
  .main-greet-content-list {
    top: 680px;
    margin-left: 780px;
  }
  .main-greet-content-list-item-active::before {
    width: 40px;
    height: 2px;
    margin-right: 12px;
  }
  .main-greet-content-list-item-active::after {
    width: 40px;
    height: 2px;
    margin-left: 12px;
  }
  .main-greet-content-list-item p {
    font-size: 20px;
    padding: 14px 19px;
  }
  .main-greet-content-btn-title {
    margin-left: 790px;
    top: 635px;
    font-size: 30px;
    line-height: 25px;
  }
}
@media (min-width: 3800px) {
  .main-greet {
    top: -80px;
    padding: 0 5% 0 0;
    margin: 0 7% 0 12%;
  }
  .main-greet-bg-box {
    margin-right: 150px;
  }
  .main-greet-bg-link {
    height: 170px;
    width: 90%;
    padding: 0 70px 0 70px;
  }
  .main-greet-bg-link svg {
    width: 100px;
  }
  .main-greet-bg-text {
    font-size: 30.3333px;
  }
  .main-greet-content {
    height: 1200px;
  }
  .main-greet-img {
    width: 750px;
    top: -1700px;
  }
  @keyframes main-greet-img {
    from {
      top: -2900px;
    }
    to {
      top: -1700px;
    }
  }
  .main-greet-content-ellipse {
    position: relative;
    top: -300px;
    width: 1500px;
    height: 1500px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 250px;
    }
    to {
      top: -300px;
      width: 1500px;
      height: 1500px;
    }
  }
  .main-greet-text {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 150px;
  }
  .main-greet-title {
    font-size: 100px;
    line-height: 120px;
  }
  .main-greet-title:last-child {
    margin-bottom: 100px;
  }
  .main-greet-content-list {
    top: 950px;
    margin-left: 1100px;
  }
  .main-greet-content-list-item-active::before {
    width: 50px;
    height: 3px;
    margin-right: 15px;
  }
  .main-greet-content-list-item-active::after {
    width: 50px;
    height: 3px;
    margin-left: 15px;
  }
  .main-greet-content-list-item p {
    font-size: 25px;
    padding: 18px 23px;
  }
  .main-greet-content-btn-title {
    margin-left: 1120px;
    top: 890px;
    font-size: 35px;
    line-height: 30px;
  }
}
@media (max-width: 1832px) {
  .main-greet {
    top: -100px;
    padding: 0 7% 0 0;
    margin: 0 7% 0 14%;
  }
  .main-greet-bg-box {
    margin-right: 150px;
  }
  .main-greet-bg-link {
    height: 75px;
    width: 90%;
    padding: 0 23px 0 23px;
  }
  .main-greet-bg-link svg {
    width: 75px;
  }
  .main-greet-bg-text {
    font-size: 16.3333px;
  }
  .main-greet-content {
    height: 650px;
    width: 53%;
  }
  .main-greet-img {
    width: 420px;
    top: -800px;
  }
  @keyframes main-greet-img {
    from {
      top: -1500px;
    }
    to {
      top: -800px;
    }
  }
  .main-greet-content-ellipse {
    top: -80px;
    width: 700px;
    height: 700px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 200px;
    }
    to {
      top: -80px;
      width: 700px;
      height: 700px;
    }
  }
  .main-greet-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 65px;
  }
  .main-greet-title {
    font-size: 55px;
    line-height: 70px;
  }
  .main-greet-title:last-child {
    margin-bottom: 50px;
  }

  .main-greet-content-list {
    top: 550px;
    margin-left: 450px;
  }
  .main-greet-content-list-item-active::before {
    width: 35px;
    height: 2px;
    margin-right: 10px;
  }
  .main-greet-content-list-item-active::after {
    width: 35px;
    height: 2px;
    margin-left: 10px;
  }
  .main-greet-content-list-item p {
    font-size: 12px;
    padding: 13px 16px;
  }
  .main-greet-content-btn-title {
    margin-left: 455px;
    top: 515px;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 1570px) {
  .main-greet {
    top: -90px;
  }
  .main-greet-bg-box {
    margin-right: 50px;
  }
  .main-greet-bg-link {
    height: 70px;
    width: 90%;
    padding: 0 20px 0 20px;
  }
  .main-greet-bg-link svg {
    width: 70px;
  }
  .main-greet-bg-text {
    font-size: 15.3333px;
  }
  .main-greet-content {
    height: 600px;
    width: 53%;
  }
  .main-greet-img {
    width: 350px;
    top: -710px;
  }
  @keyframes main-greet-img {
    from {
      top: -1500px;
    }
    to {
      top: -710px;
    }
  }
  .main-greet-content-ellipse {
    top: -70px;
    width: 620px;
    height: 620px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 170px;
    }
    to {
      top: -70px;
      width: 620px;
      height: 620px;
    }
  }
  .main-greet-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 65px;
  }
  .main-greet-title {
    font-size: 45px;
    line-height: 55px;
  }
  .main-greet-title:last-child {
    margin-bottom: 50px;
  }

  .main-greet-content-list {
    top: 450px;
    margin-left: 350px;
  }
  .main-greet-content-list-item-active::before {
    width: 30px;
    height: 2px;
    margin-right: 9px;
  }
  .main-greet-content-list-item-active::after {
    width: 30px;
    height: 2px;
    margin-left: 9px;
  }
  .main-greet-content-list-item p {
    font-size: 12px;
    padding: 10px 13px;
  }
  .main-greet-content-btn-title {
    margin-left: 350px;
    top: 415px;
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 1400px) {
  .main-greet {
    top: -80px;
  }
  .main-greet-bg-box {
    margin-right: 30px;
  }
  .main-greet-bg-link {
    height: 60px;
    width: 90%;
    padding: 0 20px 0 20px;
  }
  .main-greet-bg-link svg {
    width: 65px;
  }
  .main-greet-bg-text {
    font-size: 13.3333px;
  }
  .main-greet-content {
    height: 550px;
    width: 53%;
  }
  .main-greet-img {
    width: 300px;
    top: -590px;
  }
  @keyframes main-greet-img {
    from {
      top: -1500px;
    }
    to {
      top: -590px;
    }
  }
  .main-greet-content-ellipse {
    top: -50px;
    width: 520px;
    height: 520px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 150px;
    }
    to {
      top: -60px;
      width: 520px;
      height: 520px;
    }
  }
  .main-greet-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .main-greet-title {
    font-size: 40px;
    line-height: 50px;
  }
  .main-greet-title:last-child {
    margin-bottom: 30px;
  }
  .main-greet-content-list {
    top: 420px;
    margin-left: 300px;
  }
  .main-greet-content-list-item-active::before {
    width: 27px;
    height: 2px;
    margin-right: 8px;
  }
  .main-greet-content-list-item-active::after {
    width: 27px;
    height: 2px;
    margin-left: 8px;
  }
  .main-greet-content-list-item p {
    font-size: 11px;
    padding: 10px 13px;
  }
  .main-greet-content-btn-title {
    margin-left: 305px;
    top: 395px;
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 1180px) {
  .main-greet {
    top: -70px;
  }
  .main-greet-bg-box {
    margin-right: 25px;
  }
  .main-greet-bg-link {
    height: 55px;
    width: 90%;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 60px;
  }
  .main-greet-bg-text {
    font-size: 11.3333px;
  }
  .main-greet-content {
    height: 430px;
    width: 53%;
  }
  .main-greet-img {
    width: 200px;
    top: -440px;
  }
  @keyframes main-greet-img {
    from {
      top: -1500px;
    }
    to {
      top: -450px;
    }
  }
  .main-greet-content-ellipse {
    top: -50px;
    width: 400px;
    height: 400px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 130px;
    }
    to {
      top: -50px;
      width: 400px;
      height: 400px;
    }
  }
  .main-greet-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .main-greet-title {
    font-size: 35px;
    line-height: 45px;
  }
  .main-greet-title:last-child {
    margin-bottom: 25px;
  }
  .main-greet-content-list {
    top: 300px;
    margin-left: 250px;
  }
  .main-greet-content-list-item-active::before {
    width: 25px;
    height: 2px;
    margin-right: 5px;
  }
  .main-greet-content-list-item-active::after {
    width: 25px;
    height: 2px;
    margin-left: 5px;
  }
  .main-greet-content-list-item p {
    font-size: 10px;
    padding: 9px 12px;
  }
  .main-greet-content-btn-title {
    margin-left: 250px;
    top: 270px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 950px) {
  .main-greet {
    top: -50px;
    padding: 0 5% 0 0;
    margin: 0 10% 0 10%;
  }
  .main-greet-bg-box {
    margin-right: 0px;
  }
  .main-greet-bg-link {
    height: 45px;
    width: 90%;
    padding: 0 15px 0 15px;
  }
  .main-greet-bg-link svg {
    width: 45px;
  }
  .main-greet-bg-text {
    font-size: 9.3333px;
  }
  .main-greet-content {
    height: 380px;
    width: 53%;
  }
  .main-greet-img {
    width: 170px;
    top: -360px;
  }
  @keyframes main-greet-img {
    from {
      top: -900px;
    }
    to {
      top: -360px;
    }
  }
  .main-greet-content-ellipse {
    top: -30px;
    width: 320px;
    height: 320px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 100px;
    }
    to {
      top: -30px;
      width: 320px;
      height: 320px;
    }
  }
  .main-greet-text {
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .main-greet-title {
    font-size: 28px;
    line-height: 35px;
  }
  .main-greet-title:last-child {
    margin-bottom: 25px;
  }
  .main-greet-content-list {
    top: 250px;
    margin-left: 200px;
  }
  .main-greet-content-list-item-active::before {
    width: 22px;
    height: 2px;
    margin-right: 5px;
  }
  .main-greet-content-list-item-active::after {
    width: 22px;
    height: 2px;
    margin-left: 5px;
  }
  .main-greet-content-list-item p {
    font-size: 10px;
    padding: 7px 10px;
  }
  .main-greet-content-btn-title {
    margin-left: 200px;
    top: 230px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 755px) {
  .main-greet {
    top: -10px;
  }
  .main-greet-bg-link {
    height: 40px;
    width: 90%;
    padding: 0 10px 0 10px;
  }
  .main-greet-bg-link svg {
    width: 35px;
  }
  .main-greet-bg-text {
    font-size: 7.3333px;
  }
  .main-greet-content {
    height: 300px;
    width: 53%;
  }
  .main-greet-img {
    width: 150px;
    top: -330px;
  }
  @keyframes main-greet-img {
    from {
      top: -900px;
    }
    to {
      top: -330px;
    }
  }
  .main-greet-content-ellipse {
    top: -10px;
    width: 280px;
    height: 280px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 100px;
    }
    to {
      top: -10px;
      width: 280px;
      height: 280px;
    }
  }
  .main-greet-text {
    font-size: 9px;
    margin-bottom: 25px;
  }
  .main-greet-title {
    font-size: 22px;
    line-height: 25px;
  }
  .main-greet-title:last-child {
    margin-bottom: 15px;
  }
  .main-greet-content-list {
    top: 230px;
    margin-left: 150px;
  }
  .main-greet-content-list-item-active::before {
    width: 18px;
    height: 2px;
    margin-right: 5px;
  }
  .main-greet-content-list-item-active::after {
    width: 18px;
    height: 2px;
    margin-left: 5px;
  }
  .main-greet-content-list-item p {
    font-size: 9px;
    padding: 5px 7px;
  }
  .main-greet-content-btn-title {
    margin-left: 150px;
    top: 210px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 570px) {
  .main-greet-bg-link {
    height: 30px;
    width: 90%;
    padding: 0 10px 0 10px;
  }
  .main-greet-bg-link svg {
    width: 25px;
  }
  .main-greet-bg-text {
    font-size: 6.3333px;
  }
  .main-greet-content {
    height: 250px;
    width: 53%;
  }
  .main-greet-img {
    width: 115px;
    top: -249px;
  }
  @keyframes main-greet-img {
    from {
      top: -900px;
    }
    to {
      top: -249px;
    }
  }
  .main-greet-content-ellipse {
    top: -10px;
    width: 200px;
    height: 200px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 70px;
    }
    to {
      top: -10px;
      width: 200px;
      height: 200px;
    }
  }
  .main-greet-text {
    font-size: 8px;
    margin-bottom: 25px;
  }
  .main-greet-title {
    font-size: 18px;
    line-height: 22px;
  }
  .main-greet-title:last-child {
    margin-bottom: 15px;
  }
  .main-greet-content-list {
    top: 160px;
    margin-left: 100px;
  }
  .main-greet-content-list-item-active::before {
    width: 15px;
    height: 1px;
    margin-right: 3px;
  }
  .main-greet-content-list-item-active::after {
    width: 15px;
    height: 1px;
    margin-left: 3px;
  }
  .main-greet-content-list-item p {
    font-size: 7px;
    padding: 4px 6px;
  }
  .main-greet-content-btn-title {
    margin-left: 100px;
    top: 145px;
    font-size: 8px;
    line-height: 10px;
  }
}
@media (max-width: 440px) {
  .main-greet-bg-link {
    height: 25px;
    width: 90%;
    padding: 0 7px 0 7px;
  }
  .main-greet-bg-link svg {
    width: 20px;
  }
  .main-greet-bg-text {
    font-size: 5.3333px;
  }
  .main-greet-content {
    height: 200px;
    width: 53%;
  }
  .main-greet-img {
    width: 90px;
    top: -195px;
  }
  @keyframes main-greet-img {
    from {
      top: -900px;
    }
    to {
      top: -195px;
    }
  }
  .main-greet-content-ellipse {
    top: -5px;
    width: 160px;
    height: 160px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 50px;
    }
    to {
      top: -5px;
      width: 160px;
      height: 160px;
    }
  }
  .main-greet-text {
    font-size: 7px;
    margin-bottom: 20px;
  }
  .main-greet-title {
    font-size: 16px;
    line-height: 20px;
  }
  .main-greet-title:last-child {
    margin-bottom: 10px;
  }
  .main-greet-content-list {
    top: 130px;
    margin-left: 80px;
  }
  .main-greet-content-list-item-active::before {
    width: 10px;
  }
  .main-greet-content-list-item-active::after {
    width: 10px;
  }
  .main-greet-content-list-item p {
    font-size: 6px;
    padding: 3px 5px;
  }
  .main-greet-content-btn-title {
    margin-left: 80px;
    top: 118px;
    font-size: 7px;
    line-height: 10px;
  }
}
@media (max-width: 350px) {
  .main-greet-bg-link {
    height: 20px;
    width: 90%;
    padding: 0 5px 0 5px;
  }
  .main-greet-bg-link svg {
    width: 15px;
  }
  .main-greet-bg-text {
    font-size: 4.3333px;
    line-height: 10px;
  }
  .main-greet-content {
    height: 160px;
    width: 53%;
  }
  .main-greet-img {
    width: 70px;
    top: -159px;
  }
  @keyframes main-greet-img {
    from {
      top: -700px;
    }
    to {
      top: -159px;
    }
  }
  .main-greet-content-ellipse {
    top: -5px;
    width: 130px;
    height: 130px;
  }
  @keyframes main-greet-content-ellipse {
    from {
      width: 0;
      height: 0;
      top: 50px;
    }
    to {
      top: -5px;
      width: 130px;
      height: 130px;
    }
  }
  .main-greet-text {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .main-greet-title {
    font-size: 14px;
    line-height: 18px;
  }
  .main-greet-title:last-child {
    margin-bottom: 10px;
  }
  .main-greet-content-list {
    top: 110px;
    margin-left: 60px;
  }
  .main-greet-content-list-item-active::before {
    width: 7px;
  }
  .main-greet-content-list-item-active::after {
    width: 7px;
  }
  .main-greet-content-list-item p {
    font-size: 5px;
    padding: 3px 4px;
  }
  .main-greet-content-btn-title {
    margin-left: 60px;
    top: 98px;
    font-size: 7px;
    line-height: 10px;
  }
}
@media (max-width: 320px) {
}
