.main-coll {
  display: flex;
  margin-top: 100px;
  padding: 0 19% 0 16.5%;
}
.main-coll-links {
  margin-right: 50px;
  width: 90%;
}
.main-coll-links-title {
  display: flex;
  width: fit-content;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  color: #2c2e3f;
}
.main-coll-content-text {
  position: relative;
  width: 195px;
  padding: 9.5px 0;
  background-color: #fff;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.415px;
  color: #2c2e3f;
}
.main-coll-content-box {
  display: block;
}
.main-coll-duo {
  margin-top: 70px;
  width: 400px;
  height: 270px;
  background-color: #f2f2f4;
}
.main-coll-content-img-duo {
  position: relative;
  top: -50px;
  width: 400px;
}
.main-coll-square {
  margin-top: 70px;
  margin-left: 100px;
  width: 298px;
  height: 250px;
  background-color: #ffeddb;
}
.main-coll-content-img-square {
  display: block;
  position: relative;
  width: 210px;
  right: 50px;
}
.main-coll-content-text-square {
  left: 108px;
  bottom: 278px;
}
.main-coll-content {
  display: flex;
}
.main-coll-content1 {
  margin-right: 30px;
}
.main-coll-pendant {
  width: 320px;
  height: 402px;
  background-color: #f4f3ee;
}
.main-coll-content-img-pendant {
  position: relative;
  left: -40px;
  width: 262px;
}
.main-coll-content-text-pendant {
  top: 55px;
  left: 126px;
}
.main-coll-trom {
  width: 333px;
  height: 281px;
  margin-top: 80px;
  background-color: #e0afa0;
}
.main-coll-content-img-trom {
  position: relative;
  width: 250px;
  bottom: 56px;
  left: 30%;
}
.main-coll-content-text-trom {
  bottom: 3px;
  right: 2px;
}
.main-coll-link {
  background-color: #bcb8b1;
  margin-top: 150px;
  margin-bottom: 30px;
  width: 306px;
  height: 300px;
}
.main-coll-content-img-link {
  width: 417px;
  position: relative;
  bottom: 40px;
}
.main-coll-content-text-link {
  top: -46px;
  left: -1px;
}
.main-coll-algorithm {
  background-color: #463f3a;
  height: 280px;
  width: 411px;
}
.main-coll-content-img-algorithm {
  width: 411px;
  mix-blend-mode: screen;
}
.main-coll-content-text-algorithm {
  bottom: 270px;
  left: 220px;
}
@media (min-width: 3800px) {
  .main-coll {
    margin-top: 200px;
    padding: 0 23% 0 17.5%;
  }
  .main-coll-links {
    margin-right: 50px;
    width: 90%;
  }
  .main-coll-links-title {
    font-size: 80px;
    line-height: 90px;
  }
  .main-coll-content-text {
    width: 380px;
    padding: 35px 0;
    font-size: 40px;
  }
  .main-coll-duo {
    margin-top: 100px;
    width: 700px;
    height: 570px;
  }
  .main-coll-content-img-duo {
    top: -40px;
    width: 700px;
  }
  .main-coll-square {
    margin-top: 100px;
    margin-left: 100px;
    width: 598px;
    height: 550px;
  }
  .main-coll-content-img-square {
    width: 490px;
    right: 123px;
  }
  .main-coll-content-text-square {
    left: 230px;
    bottom: 648px;
  }
  .main-coll-content1 {
    margin-right: 130px;
  }
  .main-coll-pendant {
    width: 620px;
    height: 752px;
  }
  .main-coll-content-img-pendant {
    left: -60px;
    width: 500px;
  }
  .main-coll-content-text-pendant {
    top: 95px;
    left: 240px;
  }
  .main-coll-trom {
    width: 633px;
    height: 631px;
    margin-top: 120px;
  }
  .main-coll-content-img-trom {
    width: 500px;
    bottom: 106px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 210px;
    margin-bottom: 80px;
    width: 656px;
    height: 600px;
  }
  .main-coll-content-img-link {
    width: 787px;
    position: relative;
    bottom: 40px;
  }
  .main-coll-content-text-link {
    top: -46px;
    left: -10px;
  }
  .main-coll-algorithm {
    height: 610px;
    width: 811px;
  }
  .main-coll-content-img-algorithm {
    width: 811px;
    mix-blend-mode: screen;
  }
  .main-coll-content-text-algorithm {
    bottom: 535px;
    left: 435px;
  }
}

@media (max-width: 1650px) {
  .main-coll-links {
    margin-right: 40px;
  }
  .main-coll-links-title {
    font-size: 45px;
    line-height: 50px;
  }
  .main-coll-content-text {
    width: 180px;
    font-size: 22px;
    line-height: 30px;
  }
  .main-coll-duo {
    margin-top: 50px;
    width: 360px;
    height: 250px;
  }
  .main-coll-content-img-duo {
    top: -50px;
    width: 360px;
  }
  .main-coll-square {
    margin-top: 50px;
    margin-left: 100px;
    width: 260px;
    height: 230px;
  }
  .main-coll-content-img-square {
    width: 190px;
    right: 50px;
  }
  .main-coll-content-text-square {
    left: 82px;
    bottom: 250px;
  }
  .main-coll-pendant {
    width: 280px;
    height: 370px;
  }
  .main-coll-content-img-pendant {
    position: relative;
    left: -30px;
    width: 240px;
  }
  .main-coll-content-text-pendant {
    top: 55px;
    left: 100px;
  }
  .main-coll-trom {
    width: 290px;
    height: 250px;
    margin-top: 60px;
  }
  .main-coll-content-img-trom {
    width: 220px;
    bottom: 50px;
    left: 30%;
  }
  .main-coll-content-text-trom {
    bottom: 3px;
    right: 2px;
  }
  .main-coll-link {
    margin-top: 130px;
    margin-bottom: 30px;
    width: 260px;
    height: 270px;
  }
  .main-coll-content-img-link {
    width: 360px;
    bottom: 20px;
  }
  .main-coll-content-text-link {
    top: -28px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 250px;
    width: 370px;
  }
  .main-coll-content-img-algorithm {
    width: 370px;
    mix-blend-mode: screen;
  }
  .main-coll-content-text-algorithm {
    bottom: 245px;
    left: 200px;
  }
}
@media (max-width: 1450px) {
  .main-coll-links {
    margin-right: 35px;
  }
  .main-coll-links-title {
    font-size: 35px;
    line-height: 40px;
  }
  .main-coll-content-text {
    width: 155px;
    font-size: 18px;
    line-height: 25px;
  }
  .main-coll-duo {
    margin-top: 50px;
    width: 280px;
    height: 200px;
  }
  .main-coll-content-img-duo {
    top: -40px;
    width: 280px;
  }
  .main-coll-square {
    margin-top: 50px;
    margin-left: 100px;
    width: 180px;
    height: 180px;
  }
  .main-coll-content-img-square {
    width: 150px;
    right: 38px;
  }
  .main-coll-content-text-square {
    left: 30px;
    bottom: 200px;
  }
  .main-coll-pendant {
    width: 220px;
    height: 300px;
  }
  .main-coll-content-img-pendant {
    position: relative;
    left: -20px;
    width: 190px;
  }
  .main-coll-content-text-pendant {
    top: 48px;
    left: 70px;
  }
  .main-coll-trom {
    width: 220px;
    height: 220px;
    margin-top: 40px;
  }
  .main-coll-content-img-trom {
    width: 170px;
    bottom: 44px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 200px;
    height: 230px;
  }
  .main-coll-content-img-link {
    width: 290px;
    bottom: 10px;
  }
  .main-coll-content-text-link {
    top: -18px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 200px;
    width: 300px;
  }
  .main-coll-content-img-algorithm {
    width: 300px;
    mix-blend-mode: screen;
  }
  .main-coll-content-text-algorithm {
    bottom: 198px;
    left: 145px;
  }
}
@media (max-width: 1200px) {
  .main-coll {
    padding: 0 15% 0 10.5%;
    margin-top: 10px;
  }
  .main-coll-links {
    margin-right: 30px;
  }
  .main-coll-links-title {
    font-size: 30px;
    line-height: 35px;
  }
  .main-coll-content-text {
    width: 115px;
    font-size: 15px;
    line-height: 18px;
  }
  .main-coll-duo {
    margin-top: 50px;
    width: 230px;
    height: 180px;
  }
  .main-coll-content-img-duo {
    top: -20px;
    width: 230px;
  }
  .main-coll-square {
    margin-top: 30px;
    margin-left: 80px;
    width: 150px;
    height: 150px;
  }
  .main-coll-content-img-square {
    width: 120px;
    right: 29px;
  }
  .main-coll-content-text-square {
    left: 40px;
    bottom: 160px;
  }
  .main-coll-pendant {
    width: 170px;
    height: 260px;
  }
  .main-coll-content-img-pendant {
    position: relative;
    left: -20px;
    width: 150px;
  }
  .main-coll-content-text-pendant {
    top: 55px;
    left: 55px;
  }
  .main-coll-trom {
    width: 170px;
    height: 180px;
    margin-top: 40px;
  }
  .main-coll-content-img-trom {
    width: 140px;
    bottom: 36px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 160px;
    height: 180px;
  }
  .main-coll-content-img-link {
    width: 220px;
    bottom: 0px;
  }
  .main-coll-content-text-link {
    top: -13px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 180px;
    width: 240px;
  }
  .main-coll-content-img-algorithm {
    width: 240px;
  }
  .main-coll-content-text-algorithm {
    bottom: 160px;
    left: 125px;
  }
}
@media (max-width: 900px) {
  .main-coll {
    margin-top: 10px;
  }
  .main-coll-links {
    margin-right: 30px;
  }
  .main-coll-links-title {
    font-size: 25px;
    line-height: 30px;
  }
  .main-coll-content-text {
    width: 90px;
    font-size: 12px;
    line-height: 10px;
  }
  .main-coll-duo {
    margin-top: 40px;
    width: 180px;
    height: 150px;
  }
  .main-coll-content-img-duo {
    top: -20px;
    width: 195px;
  }
  .main-coll-square {
    margin-top: 20px;
    margin-left: 40px;
    width: 140px;
    height: 140px;
  }
  .main-coll-content-img-square {
    width: 120px;
    right: 29px;
  }
  .main-coll-content-text-square {
    left: 50px;
    bottom: 160px;
  }
  .main-coll-pendant {
    width: 150px;
    height: 200px;
  }
  .main-coll-content-img-pendant {
    left: -20px;
    width: 120px;
  }
  .main-coll-content-text-pendant {
    top: 36px;
    left: 60px;
  }
  .main-coll-trom {
    width: 150px;
    height: 150px;
    margin-top: 60px;
  }
  .main-coll-content-img-trom {
    width: 120px;
    bottom: 30px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 140px;
    height: 160px;
  }
  .main-coll-content-img-link {
    width: 190px;
    bottom: -5px;
  }
  .main-coll-content-text-link {
    top: -3px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 150px;
    width: 200px;
  }
  .main-coll-content-img-algorithm {
    width: 200px;
  }
  .main-coll-content-text-algorithm {
    bottom: 135px;
    left: 112px;
  }
}
@media (max-width: 750px) {
  .main-coll-links {
    margin-right: 15px;
  }
  .main-coll-links-title {
    font-size: 22px;
    line-height: 28px;
  }
  .main-coll-content-text {
    width: 80px;
    font-size: 10px;
    line-height: 10px;
  }
  .main-coll-duo {
    margin-top: 40px;
    width: 160px;
    height: 130px;
  }
  .main-coll-content-img-duo {
    top: -20px;
    width: 165px;
  }
  .main-coll-square {
    margin-top: 20px;
    margin-left: 40px;
    width: 120px;
    height: 120px;
  }
  .main-coll-content-img-square {
    width: 100px;
    right: 25px;
  }
  .main-coll-content-text-square {
    left: 40px;
    bottom: 132px;
  }
  .main-coll-content1 {
    margin-right: 15px;
  }
  .main-coll-pendant {
    margin-top: 20px;
    width: 140px;
    height: 180px;
  }
  .main-coll-content-img-pendant {
    left: -20px;
    width: 110px;
  }
  .main-coll-content-text-pendant {
    top: 26px;
    left: 61px;
  }
  .main-coll-trom {
    width: 140px;
    height: 127px;
    margin-top: 40px;
  }
  .main-coll-content-img-trom {
    width: 110px;
    bottom: 30px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 120px;
    height: 140px;
  }
  .main-coll-content-img-link {
    width: 170px;
    bottom: 0px;
  }
  .main-coll-content-text-link {
    top: -10px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 128px;
    width: 170px;
  }
  .main-coll-content-img-algorithm {
    position: relative;
    left: 2px;
    width: 167px;
  }
  .main-coll-content-text-algorithm {
    bottom: 112px;
    left: 92px;
  }
}
@media (max-width: 600px) {
  .main-coll {
    margin-top: 10px;
  }
  .main-coll-links {
    margin-right: 10px;
  }
  .main-coll-links-title {
    font-size: 18px;
    line-height: 23px;
  }
  .main-coll-content-text {
    width: 60px;
    font-size: 8px;
    line-height: 5px;
  }
  .main-coll-duo {
    margin-top: 40px;
    width: 130px;
    height: 100px;
  }
  .main-coll-content-img-duo {
    top: -20px;
    width: 135px;
  }
  .main-coll-square {
    margin-top: 20px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
  }
  .main-coll-content-img-square {
    width: 85px;
    right: 20px;
  }
  .main-coll-content-text-square {
    left: 40px;
    bottom: 113px;
  }
  .main-coll-content1 {
    margin-right: 10px;
  }
  .main-coll-pendant {
    margin-top: 35px;
    width: 110px;
    height: 150px;
  }
  .main-coll-content-img-pendant {
    left: -10px;
    width: 90px;
  }
  .main-coll-content-text-pendant {
    top: 24px;
    left: 50px;
  }
  .main-coll-trom {
    width: 110px;
    height: 100px;
    margin-top: 20px;
  }
  .main-coll-content-img-trom {
    width: 85px;
    bottom: 24px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100px;
    height: 110px;
  }
  .main-coll-content-img-link {
    width: 130px;
    bottom: 0px;
  }
  .main-coll-content-text-link {
    top: -8px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 97px;
    width: 140px;
  }
  .main-coll-content-img-algorithm {
    left: 2px;
    width: 138px;
  }
  .main-coll-content-text-algorithm {
    bottom: 94px;
    left: 80px;
  }
}
@media (max-width: 470px) {
  .main-coll {
    margin-top: 40px;
  }
  .main-coll-links {
    margin-right: 10px;
  }
  .main-coll-links-title {
    font-size: 16px;
    line-height: 20px;
  }
  .main-coll-content-text {
    width: 50px;
    font-size: 7px;
    line-height: 5px;
  }
  .main-coll-duo {
    margin-top: 30px;
    width: 120px;
    height: 90px;
  }
  .main-coll-content-img-duo {
    top: -20px;
    width: 125px;
  }
  .main-coll-square {
    margin-top: 20px;
    margin-left: 30px;
    width: 90px;
    height: 90px;
  }
  .main-coll-content-img-square {
    width: 75px;
    right: 18px;
  }
  .main-coll-content-text-square {
    left: 41px;
    bottom: 100px;
  }
  .main-coll-content1 {
    margin-right: 10px;
  }
  .main-coll-pendant {
    margin-top: 30px;
    width: 90px;
    height: 130px;
  }
  .main-coll-content-img-pendant {
    left: -10px;
    width: 80px;
  }
  .main-coll-content-text-pendant {
    top: 15px;
    left: 40px;
  }
  .main-coll-trom {
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }
  .main-coll-content-img-trom {
    width: 70px;
    bottom: 24px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 80px;
    height: 90px;
  }
  .main-coll-content-img-link {
    width: 110px;
    bottom: 5px;
  }
  .main-coll-content-text-link {
    top: -12px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 70px;
    width: 100px;
  }
  .main-coll-content-img-algorithm {
    left: 2px;
    width: 97px;
  }
  .main-coll-content-text-algorithm {
    bottom: 68px;
    left: 52px;
  }
}
@media (max-width: 390px) {
  .main-coll {
    margin-top: 20px;
  }
  .main-coll-links {
    margin-right: 7px;
  }
  .main-coll-links-title {
    font-size: 12px;
    line-height: 15px;
  }
  .main-coll-content-text {
    width: 45px;
    font-size: 6px;
    line-height: 5px;
  }
  .main-coll-duo {
    margin-top: 15px;
    width: 90px;
    height: 80px;
  }
  .main-coll-content-img-duo {
    top: -15px;
    width: 100px;
  }
  .main-coll-square {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
  }
  .main-coll-content-img-square {
    width: 60px;
    right: 15px;
  }
  .main-coll-content-text-square {
    left: 25px;
    bottom: 80px;
  }
  .main-coll-content1 {
    margin-right: 10px;
  }
  .main-coll-pendant {
    margin-top: 25px;
    width: 70px;
    height: 100px;
  }
  .main-coll-content-img-pendant {
    left: -10px;
    width: 60px;
  }
  .main-coll-content-text-pendant {
    top: 8px;
    left: 26px;
  }
  .main-coll-trom {
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }
  .main-coll-content-img-trom {
    width: 55px;
    bottom: 24px;
    left: 30%;
  }
  .main-coll-link {
    margin-top: 55px;
    margin-bottom: 30px;
    width: 65px;
    height: 70px;
  }
  .main-coll-content-img-link {
    width: 80px;
    bottom: 5px;
  }
  .main-coll-content-text-link {
    top: -12px;
    left: -1px;
  }
  .main-coll-algorithm {
    height: 60px;
    width: 80px;
  }
  .main-coll-content-img-algorithm {
    left: 2px;
    width: 77px;
  }
  .main-coll-content-text-algorithm {
    bottom: 55px;
    left: 35px;
  }
}
