.main-types {
  padding: 0 19% 0 16.5%;
  margin-top: 100px;
}
.main-types-subtitle {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.161212px;
  text-transform: uppercase;
  color: #2c2e3f;
}
.main-types-list {
  margin-top: 100px;
}
.main-types-item {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: flex-end;
}
.main-types-img {
  width: 53%;
}
.main-types-box1 {
  margin-right: 12%;
}
.main-types-title {
  display: flex;
  width: fit-content;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 48px;
  line-height: 90px;
  letter-spacing: -1.245px;
  text-transform: uppercase;
  color: #2c2e3f;
  margin-bottom: 64px;
}
.main-types-text {
  display: flex;
  width: fit-content;
  font-family: var(--font2);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #141517;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.main-types-link {
  display: flex;
  width: 320px;
  justify-content: center;
  padding: 20px 0;
  display: flex;
  align-items: center;
  border: 2px solid #504b48;
  transition: 0.5s;
  margin-top: 64px;
}
.main-types-link:hover {
  opacity: 0.5;
}
.main-types-link p {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.585873px;
  text-transform: uppercase;
  color: #504b48;
  margin-right: 10px;
}
.main-types-link svg {
  width: 60px;
}
.main-types-box2 {
  margin-left: 12%;
  text-align: -webkit-right;
}
@media (min-width: 4000px) {
  .main-types {
    padding: 0 23% 0 17.5%;
    margin-top: 230px;
  }
  .main-types-subtitle {
    font-size: 80px;
  }
  .main-types-list {
    margin-top: 230px;
  }
  .main-types-item {
    margin-bottom: 150px;
  }
  .main-types-box1 {
    margin-right: 12%;
  }
  .main-types-title {
    font-size: 80px;
    margin-bottom: 150px;
  }
  .main-types-text {
    font-size: 48px;
    line-height: 50px;
  }
  .main-types-link {
    width: 620px;
    padding: 50px 0;
    margin-top: 150px;
  }
  .main-types-link p {
    font-size: 25px;
    margin-right: 60px;
  }
  .main-types-link svg {
    width: 100px;
  }
  .main-types-box2 {
    margin-left: 12%;
    text-align: -webkit-right;
  }
}
@media (max-width: 1650px) {
  .main-types {
    margin-top: 90px;
  }
  .main-types-subtitle {
    font-size: 45px;
    line-height: 55px;
  }
  .main-types-list {
    margin-top: 90px;
  }
  .main-types-item {
    margin-bottom: 90px;
  }
  .main-types-title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 55px;
  }
  .main-types-text {
    font-size: 22px;
    line-height: 27px;
    color: #141517;
    mix-blend-mode: normal;
    opacity: 0.7;
  }
  .main-types-link {
    width: 280px;
    padding: 16px 0;
    margin-top: 55px;
  }
  .main-types-link p {
    font-size: 12px;
  }
  .main-types-link svg {
    width: 50px;
  }
}
@media (max-width: 1400px) {
  .main-types {
    margin-top: 70px;
  }
  .main-types-subtitle {
    font-size: 32px;
    line-height: 55px;
  }
  .main-types-list {
    margin-top: 70px;
  }
  .main-types-item {
    margin-bottom: 70px;
  }
  .main-types-box1 {
    margin-right: 7%;
  }
  .main-types-title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 45px;
  }
  .main-types-text {
    font-size: 20px;
    line-height: 25px;
  }
  .main-types-link {
    width: 260px;
    padding: 16px 0;
    margin-top: 55px;
  }
  .main-types-link p {
    font-size: 11px;
  }
  .main-types-link svg {
    width: 48px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 1150px) {
  .main-types {
    margin-top: 50px;
    padding: 0 15% 0 10.5%;
  }
  .main-types-subtitle {
    font-size: 28px;
    line-height: 50px;
  }
  .main-types-list {
    margin-top: 50px;
  }
  .main-types-item {
    margin-bottom: 50px;
  }
  .main-types-box1 {
    margin-right: 7%;
  }
  .main-types-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 35px;
  }
  .main-types-text {
    font-size: 18px;
    line-height: 23px;
  }
  .main-types-link {
    width: 250px;
    padding: 14px 0;
    margin-top: 55px;
  }
  .main-types-link p {
    font-size: 11px;
  }
  .main-types-link svg {
    width: 45px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 930px) {
  .main-types {
    margin-top: 40px;
  }
  .main-types-subtitle {
    font-size: 25px;
    line-height: 50px;
  }
  .main-types-list {
    margin-top: 40px;
  }
  .main-types-item {
    margin-bottom: 40px;
  }
  .main-types-box1 {
    margin-right: 5%;
  }
  .main-types-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .main-types-text {
    font-size: 15px;
    line-height: 18px;
  }
  .main-types-link {
    width: 200px;
    padding: 12px 0;
    margin-top: 30px;
  }
  .main-types-link p {
    font-size: 9px;
  }
  .main-types-link svg {
    width: 45px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 730px) {
  .main-types {
    margin-top: 40px;
  }
  .main-types-subtitle {
    font-size: 20px;
    line-height: 35px;
  }
  .main-types-list {
    margin-top: 40px;
  }
  .main-types-item {
    margin-bottom: 40px;
  }
  .main-types-box1 {
    margin-right: 5%;
  }
  .main-types-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .main-types-text {
    font-size: 12px;
    line-height: 15px;
  }
  .main-types-link {
    border: 0.3px solid #504b48;
    width: 150px;
    padding: 12px 0;
    margin-top: 20px;
  }
  .main-types-link p {
    font-size: 7px;
  }
  .main-types-link svg {
    width: 35px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 600px) {
  .main-types {
    margin-top: 35px;
  }
  .main-types-subtitle {
    font-size: 16px;
    line-height: 35px;
  }
  .main-types-list {
    margin-top: 35px;
  }
  .main-types-item {
    margin-bottom: 35px;
  }
  .main-types-box1 {
    margin-right: 5%;
  }
  .main-types-title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .main-types-text {
    font-size: 9px;
    line-height: 12px;
  }
  .main-types-link {
    border: 0.3px solid #504b48;
    width: 120px;
    padding: 5px 0;
    margin-top: 15px;
  }
  .main-types-link p {
    font-size: 5px;
    line-height: normal;
  }
  .main-types-link svg {
    width: 30px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 450px) {
  .main-types {
    margin-top: 35px;
  }
  .main-types-subtitle {
    font-size: 12px;
    line-height: 20px;
  }
  .main-types-list {
    margin-top: 35px;
  }
  .main-types-item {
    margin-bottom: 35px;
  }
  .main-types-box1 {
    margin-right: 5%;
  }
  .main-types-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .main-types-text {
    font-size: 7px;
    line-height: 10px;
  }
  .main-types-link {
    border: 0.1px solid #504b48;
    width: 90px;
    padding: 2px 0;
    margin-top: 10px;
  }
  .main-types-link p {
    font-size: 4px;
    margin-right: 5px;
    line-height: normal;
  }
  .main-types-link svg {
    width: 15px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
@media (max-width: 320px) {
  .main-types {
    margin-top: 35px;
    padding: 0 13% 0 8.5%;
  }
  .main-types-subtitle {
    font-size: 10px;
    line-height: 15px;
  }
  .main-types-list {
    margin-top: 25px;
  }
  .main-types-item {
    margin-bottom: 25px;
  }
  .main-types-box1 {
    margin-right: 5%;
  }
  .main-types-title {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .main-types-text {
    font-size: 5px;
    line-height: 7px;
  }
  .main-types-link {
    border: 0.1px solid #504b48;
    width: 80px;
    padding: 2px 0;
    margin-top: 10px;
  }
  .main-types-link p {
    font-size: 3.5px;
    margin-right: 5px;
    line-height: normal;
  }
  .main-types-link svg {
    width: 15px;
  }
  .main-types-box2 {
    margin-left: 7%;
  }
}
