.catalog {
  margin-top: 35px;
  margin-bottom: 70px;
  padding: 0 11%;
  position: relative;
}
.catalog-title {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #463f3a;
  margin-bottom: 31px;
  animation: show-content1 2s;
}
@keyframes show-content1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 3800px) {
  .catalog {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 23% 0 17.5%;
  }
  .catalog-title {
    font-size: 80px;
    margin-bottom: 50px;
  }
}
@media (min-width: 2560px) {
  .catalog {
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 0 12% 0 11.2%;
  }
  .catalog-title {
    font-size: 70px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1460px) {
  .catalog {
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 0 11%;
  }
  .catalog-title {
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .catalog {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0 11%;
  }
  .catalog-title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 720px) {
  .catalog {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0 11%;
  }
  .catalog-title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 450px) {
  .catalog {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0 11%;
  }
  .catalog-title {
    font-size: 20px;
    line-height: 25px;
  }
}
