.catalog-table-item {
  display: inline-block;
  width: 100%;
  min-height: 100px;
  margin-bottom: 1%;
}
.catalog-table-item-img {
  width: 100%;
  transition: 0.5s;
  height: 90%;
}
.catalog-table-item-img:hover {
  opacity: 0.7;
}
.catalog-table-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-table-item-desk-title {
  font-family: var(--font1);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.catalog-table-item-desk-subtitle {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #000000;
}
.catalog-table-item-info {
  text-align: -webkit-right;
}
.catalog-table-item-info-price-box {
  display: flex;
}
.catalog-table-item-info-price-box-first {
  font-family: var(--font1);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #8a817c;
}
.catalog-table-item-info-price-box-second {
  font-family: var(--font1);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #463f3a;
  margin-left: 5px;
}
.catalog-table-item-info-btn {
  display: flex;
  align-self: center;
  width: 28px;
  transition: 0.5s;
}
.catalog-table-item-info-btn:hover {
  opacity: 0.5;
}
.catalog-table-item-info-btn-like {
  margin-top: -9px;
  width: 24px;
}
.btn-like-red {
  fill: #ed3a3f;
}
.btn-like-red path {
  stroke: #ed3a3f;
}
.btn-like-black {
  fill: #000;
}
@media (min-width: 2560px) {
  .catalog-table-item {
    min-width: 100%;
    min-height: 706px;
  }
  .catalog-table-item-img {
    min-width: 100%;
  }
  .catalog-table-item-desk-title {
    font-size: 25px;
    line-height: 45px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 23px;
    line-height: 30px;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 20px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 20px;
    margin-left: 5px;
  }
  .catalog-table-item-info-btn {
    width: 40px;
  }
  .catalog-table-item-info-btn-like {
    width: 40px;
  }
}
@media (min-width: 3800px) {
  .catalog-table-item {
    min-width: 100%;
  }
  .catalog-table-item-img {
    min-width: 100%;
  }
  .catalog-table-item-desk-title {
    font-size: 35px;
    line-height: 50px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 30px;
    line-height: 37px;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 25px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 25px;
    margin-left: 5px;
  }
  .catalog-table-item-info-btn {
    width: 50px;
  }
  .catalog-table-item-info-btn-like {
    width: 50px;
  }
}
@media (max-width: 1460px) {
  .catalog-table-item {
    margin-bottom: 3%;
  }
  .catalog-table-item-desk-title {
    font-size: 14px;
    line-height: 20px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 12px;
    line-height: 100%;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 14px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 14px;
    margin-left: 3px;
  }
  .catalog-table-item-info-btn {
    width: 22px;
  }
  .catalog-table-item-info-btn-like {
    width: 22px;
  }
}
@media (max-width: 1100px) {
  .catalog-table-item-desk-title {
    font-size: 12px;
    line-height: 100%;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 10px;
    line-height: 100%;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 11px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 11px;
    margin-left: 3px;
  }
  .catalog-table-item-info-btn {
    width: 16px;
  }
  .catalog-table-item-info-btn-like {
    width: 16px;
    margin-top: 0;
  }
}
@media (max-width: 900px) {
  .catalog-table-item-desk-title {
    font-size: 10px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 8px;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 8px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 8px;
    margin-left: 3px;
  }
  .catalog-table-item-info-btn-like {
    width: 13px;
  }
  .catalog-table-item-info-btn {
    width: 13px;
  }
}
@media (max-width: 720px) {
  .catalog-table-item-desk-title {
    font-size: 9px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 8px;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 8px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 8px;
    margin-left: 3px;
  }
  .catalog-table-item-info-btn-like {
    width: 12px;
  }
  .catalog-table-item-info-btn {
    width: 12px;
  }
}
@media (max-width: 380px) {
  .catalog-table-item-desk-title {
    font-size: 8px;
  }
  .catalog-table-item-desk-subtitle {
    font-size: 7px;
  }
  .catalog-table-item-info-price-box-first {
    font-size: 7px;
  }
  .catalog-table-item-info-price-box-second {
    font-size: 7px;
    margin-left: 2px;
  }
  .catalog-table-item-info-btn-like {
    width: 11px;
  }
  .catalog-table-item-info-btn {
    width: 11px;
  }
}
