.product {
  padding: 0 17.5%;
  margin-top: 25px;
  margin-bottom: 75px;
}
.product-text {
  font-family: var(--font2);
  font-weight: 300;
  font-size: 18px;
  line-height: 158.69%;
  text-align: justify;
  color: #453e39;
  margin-bottom: 18px;
}
.product-text:last-child {
  margin: 0;
}
.product-text:first-child {
  margin-top: 18px;
}
.product-text-dark {
  font-weight: 600;
}
@media (min-width: 3800px) {
  .product {
    padding: 0 20.5%;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .product-text {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .product-text:first-child {
    margin-top: 40px;
  }
}
@media (min-width: 2560px) {
  .product {
    padding: 0 20.5%;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .product-text {
    font-size: 23px;
    margin-bottom: 25px;
  }
  .product-text:first-child {
    margin-top: 20px;
  }
}
@media (max-width: 1700px) {
  .product-text {
    font-size: 16px;
    line-height: 140.69%;
    margin-bottom: 16px;
  }
}
@media (max-width: 1370px) {
  .product-text {
    font-size: 14px;
    line-height: 140.69%;
    margin-bottom: 14px;
    margin-top: 14px;
  }
}
@media (max-width: 1000px) {
  .product-text {
    font-size: 12px;
    line-height: 140.69%;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}
@media (max-width: 800px) {
  .product-text {
    font-size: 10px;
    line-height: 140.69%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 620px) {
  .product {
    padding: 0 10%;
    margin-top: 25px;
    margin-bottom: 55px;
  }
}
@media (max-width: 550px) {
  .product-text {
    font-size: 8px;
    line-height: 140.69%;
    margin-bottom: 10px;
    margin-top: 8px;
  }
}
@media (max-width: 450px) {
  .product-text {
    font-size: 7px;
    line-height: 140.69%;
    margin-bottom: 7px;
    margin-top: 7px;
  }
}
