.slider {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 44px;
}
.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.8;
  text-align: center;
  height: 500px;
}
.slide img {
  width: 500px;
  height: 500px;
}
.activeSlide {
  transform: scale(1);
  transition: transform 300ms;
  opacity: 1;
  text-align: center;
  height: 500px;
}
.activeSlide img {
  width: 500px;
  height: 500px;
}
.slide-content {
  display: none;
  width: 500px;
  height: 500px;
  position: relative;
  bottom: 500px;
}
@media (min-width: 2560px) {
  .slider {
    padding-top: 100px;
  }
  .slide {
    height: 750px;
  }
  .slide img {
    width: 750px;
    height: 750px;
  }
  .activeSlide {
    height: 750px;
  }
  .activeSlide img {
    width: 750px;
    height: 750px;
  }
  .slide-content {
    width: 750px;
    height: 750px;
  }
}
@media (min-width: 3440px) {
  .slider {
    padding-top: 100px;
  }
  .slide {
    height: 900px;
  }
  .slide img {
    width: 900px;
    height: 900px;
  }
  .activeSlide {
    height: 900px;
  }
  .activeSlide img {
    width: 900px;
    height: 900px;
  }
  .slide-content {
    width: 900px;
    height: 900px;
  }
}
@media (min-width: 3800px) {
  .slider {
    padding-top: 100px;
  }
  .slide {
    height: 950px;
  }
  .slide img {
    width: 950px;
    height: 950px;
  }
  .activeSlide {
    height: 950px;
  }
  .activeSlide img {
    width: 950px;
    height: 950px;
  }
  .slide-content {
    width: 950px;
    height: 950px;
  }
}
@media (max-width: 1600px) {
  .slide {
    height: 400px;
  }
  .slide img {
    width: 400px;
    height: 400px;
  }
  .activeSlide {
    height: 400px;
  }
  .activeSlide img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .slide {
    height: 300px;
  }
  .slide img {
    width: 300px;
    height: 300px;
  }
  .activeSlide {
    height: 300px;
  }
  .activeSlide img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .slide {
    height: 250px;
  }
  .slide img {
    width: 250px;
    height: 250px;
  }
  .activeSlide {
    height: 250px;
  }
  .activeSlide img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 600px) {
  .slide {
    height: 180px;
  }
  .slide img {
    width: 180px;
    height: 180px;
  }
  .activeSlide {
    height: 180px;
  }
  .activeSlide img {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 450px) {
  .slider {
    padding-top: 15px;
  }
  .slide {
    height: 130px;
  }
  .slide img {
    width: 130px;
    height: 130px;
  }
  .activeSlide {
    height: 130px;
  }
  .activeSlide img {
    width: 130px;
    height: 130px;
  }
}
