.slider {
  display: block;
  width: 93%;
  margin: 0 auto;
  padding-top: 90px;
}
.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.8;
  text-align: center;
  height: 800px;
}
.slide img {
  width: 800px;
  height: 800px;
}
.activeSlide {
  transform: scale(1);
  transition: transform 300ms;
  opacity: 1;
  text-align: center;
  height: 800px;
}
.activeSlide img {
  width: 800px;
  height: 800px;
}
.slide-content {
  display: none;
  width: 800px;
  height: 800px;
  position: relative;
  bottom: 800px;
}
.slide-content-active {
  display: block;
}
.slide-content-link {
  display: inline;
  padding: 44px 140px;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.553333px;
  color: #2c2e3f;
  background-color: #fff;
  position: relative;
  top: 41px;
  left: 200px;
}
.slide-content-num {
  display: table;
  background-color: #fe7865;
  padding: 45px 50px;
  margin-top: 617px;
  font-family: var(--font1);
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

@media (max-width: 1770px) {
  .slider {
    padding-top: 80px;
  }
  .slide {
    height: 580px;
  }
  .slide img {
    width: 580px;
    height: 580px;
  }
  .activeSlide {
    height: 580px;
  }
  .activeSlide img {
    width: 580px;
    height: 580px;
  }
  .slide-content {
    width: 580px;
    height: 580px;
    bottom: 580px;
  }
  .slide-content-link {
    padding: 30px 80px;
    font-size: 25px;
    top: 22px;
    left: 166px;
  }
  .slide-content-num {
    padding: 35px 40px;
    margin-top: 417px;
    font-size: 22px;
    line-height: 45px;
  }
}
@media (max-width: 1400px) {
  .slider {
    padding-top: 50px;
  }
  .slide {
    height: 400px;
  }
  .slide img {
    width: 400px;
    height: 400px;
  }
  .activeSlide {
    height: 400px;
  }
  .activeSlide img {
    width: 400px;
    height: 400px;
  }
  .slide-content {
    width: 400px;
    height: 400px;
    bottom: 400px;
  }
  .slide-content-link {
    padding: 20px 60px;
    font-size: 18px;
    top: 9px;
    left: 109px;
  }
  .slide-content-num {
    padding: 25px 25px;
    margin-top: 285px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 800px) {
  .slider {
    padding-top: 30px;
  }
  .slide {
    height: 300px;
  }
  .slide img {
    width: 300px;
    height: 300px;
  }
  .activeSlide {
    height: 300px;
  }
  .activeSlide img {
    width: 300px;
    height: 300px;
  }
  .slide-content {
    width: 300px;
    height: 300px;
    bottom: 300px;
  }
  .slide-content-link {
    padding: 15px 30px;
    font-size: 14px;
    top: 0px;
    left: 96px;
  }
  .slide-content-num {
    padding: 15px 15px;
    margin-top: 207px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 520px) {
  .slider {
    padding-top: 20px;
  }
  .slide {
    height: 220px;
  }
  .slide img {
    width: 220px;
    height: 220px;
  }
  .activeSlide {
    height: 220px;
  }
  .activeSlide img {
    width: 220px;
    height: 220px;
  }
  .slide-content {
    width: 220px;
    height: 220px;
    bottom: 220px;
  }
  .slide-content-link {
    padding: 5px 15px;
    font-size: 10px;
    top: -12px;
    left: 79px;
  }
  .slide-content-num {
    padding: 7px 7px;
    margin-top: 148px;
    font-size: 8px;
    line-height: 10px;
  }
}
@media (max-width: 420px) {
  .slider {
    padding-top: 20px;
    width: 85%;
  }
  .slide {
    height: 180px;
  }
  .slide img {
    width: 180px;
    height: 180px;
  }
  .activeSlide {
    height: 180px;
  }
  .activeSlide img {
    width: 180px;
    height: 180px;
  }
  .slide-content {
    width: 180px;
    height: 180px;
    bottom: 180px;
  }
  .slide-content-link {
    padding: 5px 15px;
    font-size: 10px;
    top: -12px;
    left: 60px;
  }
  .slide-content-num {
    padding: 7px 7px;
    margin-top: 108px;
    font-size: 8px;
    line-height: 10px;
  }
}
@media (max-width: 300px) {
  .slider {
    padding-top: 20px;
    width: 75%;
  }
  .slide {
    height: 180px;
  }
  .slide img {
    width: 180px;
    height: 180px;
  }
  .activeSlide {
    height: 180px;
  }
  .activeSlide img {
    width: 180px;
    height: 180px;
  }
  .slide-content {
    width: 180px;
    height: 180px;
    bottom: 180px;
  }
  .slide-content-link {
    padding: 5px 15px;
    font-size: 10px;
    top: -12px;
    left: 60px;
  }
  .slide-content-num {
    padding: 7px 7px;
    margin-top: 108px;
    font-size: 8px;
    line-height: 10px;
  }
}
