.header {
  z-index: 3;
  position: relative;
  display: flex;
  height: 155px;
  max-width: 100%;
  padding: 0 9%;
  align-items: center;
  justify-content: space-between;
  animation: header 2s;
}
@keyframes header {
  from {
    bottom: 150px;
  }
  to {
    bottom: 0;
  }
}
.header-logo {
  transition: 0.5s;
}
.header-logo:hover {
  opacity: 0.5;
}
.header-logo-img {
  height: 66px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  width: 460px;
}
.header-link {
  transition: 0.5s;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #141517;
}
.header-link:hover {
  opacity: 0.4;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-search {
  align-items: center;
  margin-right: 10px;
}
.header-search form {
  border-bottom: 1px #000 solid;
  display: flex;
  align-items: center;
}
.header-search-input {
  height: 20px;
  width: 170px;
}
.header-search-input::placeholder {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}
.header-search-button {
  display: flex;
  height: 16px;
  width: 16px;
  background-image: url(../../assets/images/loop.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.header-search-button:hover {
  opacity: 0.4;
}
.header-like-btn {
  display: flex;
  transition: 0.5s;
  height: 24px;
  width: 24px;
}
.header-like-btn:hover {
  opacity: 0.5;
}
.header-like-btn svg {
  fill: #000;
  width: 24px;
}

/* ----------------- ADAPTIVE ------------------*/
@media (max-width: 1700px) {
  .header {
    height: 155px;
  }
}
@media (max-width: 1460px) {
  .header {
    height: 100px;
  }
  .header-logo-img {
    height: 50px;
  }
  .header-menu {
    width: 400px;
  }
  .header-link {
    font-size: 13px;
  }
  .header-search-input {
    width: 140px;
    font-size: 13px;
  }
  .header-search-input::placeholder {
    font-size: 13px;
  }
  .header-search-button {
    height: 14px;
    width: 14px;
  }
  .header-like {
    align-items: center;
  }
  .header-like-btn {
    height: 18px;
    width: 18px;
  }
  .header-like-btn svg {
    width: 18px;
  }
}
@media (max-width: 1460px) {
  .header {
    height: 70px;
  }
  .header-logo-img {
    height: 35px;
  }
  .header-menu {
    width: 360px;
  }
  .header-link {
    font-size: 11px;
  }
  .header-search-input {
    width: 140px;
    line-height: 10px;
  }
  .header-search-input::placeholder {
    font-size: 13px;
  }
  .header-search-button {
    height: 12px;
    width: 12px;
  }
  .header-like-btn {
    height: 16px;
    width: 16px;
  }
  .header-like-btn svg {
    width: 16px;
  }
}
@media (max-width: 850px) {
  .header {
    height: 50px;
  }
  .header-logo-img {
    height: 25px;
  }
  .header-menu {
    width: 250px;
  }
  .header-link {
    font-size: 10px;
  }
  .header-search-input {
    width: 100px;
    line-height: 10px;
    font-size: 11px;
  }
  .header-search-input::placeholder {
    font-size: 11px;
  }
  .header-search-button {
    height: 12px;
    width: 12px;
  }
  .header-like-btn {
    height: 16px;
    width: 16px;
  }
  .header-like-btn svg {
    width: 16px;
  }
}
@media (max-width: 720px) {
  .header {
    height: 40px;
  }
  .header-logo-img {
    height: 20px;
  }
  .header-menu {
    width: 200px;
  }
  .header-link {
    font-size: 9px;
  }
  .header-search {
    width: 70px;
  }
  .header-search-input {
    width: 80px;
    height: 15px;
    font-size: 10px;
  }
  .header-search-input::placeholder {
    font-size: 10px;
  }
  .header-search-button {
    height: 10px;
    width: 10px;
  }
  .header-like-btn {
    height: 14px;
    width: 14px;
  }
  .header-like-btn svg {
    width: 14px;
  }
}
@media (max-width: 450px) {
  .header {
    height: 35px;
    padding: 0 4%;
  }
  .header-logo-img {
    height: 20px;
  }
  .header-menu {
    width: 200px;
  }
  .header-link {
    font-size: 8px;
  }
  .header-search-input {
    width: 60px;
    height: 10px;
    font-size: 6px;
  }
  .header-search-input::placeholder {
    font-size: 7px;
  }
  .header-search-button {
    height: 8px;
    width: 8px;
  }
  .header-like-btn {
    height: 11px;
    width: 11px;
  }
  .header-like-btn svg {
    width: 11px;
  }
}
@media (max-width: 370px) {
  .header {
    height: 30px;
  }
  .header-logo-img {
    height: 15px;
  }
  .header-menu {
    width: 140px;
  }
  .header-link {
    font-size: 6px;
  }
  .header-search-input {
    width: 30px;
    height: 10px;
    font-size: 6px;
  }
  .header-search-input::placeholder {
    font-size: 6px;
  }
  .header-search-button {
    height: 7px;
    width: 7px;
  }
  .header-like-btn {
    height: 10px;
    width: 10px;
  }
  .header-like-btn svg {
    width: 10px;
  }
}
