.pluto-title {
  display: flex;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  align-items: center;
  color: #3c3936;
  width: 900px;
  margin-left: 33.3%;
  padding: 130px 0;
}
.pluto-flex-box {
  display: flex;
  margin: 0 5% 0 9%;
  max-width: 100%;
}
.pluto-flex-box1 {
  align-items: start;
}
.pluto-flex-box-img {
  display: block;
}
.pluto-img1 {
  width: 47%;
  margin-right: 5%;
}
.pluto-img2 {
  width: 45%;
}
.pluto-box {
  padding-left: 9%;
  margin: 130px 0;
}
.pluto-box-img {
  display: block;
  width: 66%;
}
.pluto-flex-box2 {
  align-items: end;
}
.pluto-img5 {
  width: 47%;
  margin-right: 5%;
}
.pluto-img6 {
  width: 45%;
}
.pluto-flex-box:last-child {
  padding-bottom: 160px;
  margin-bottom: 80px;
  border-bottom: 1px solid #d8d8d8;
}
@media (max-width: 1600px) {
  .pluto-title {
    font-size: 50px;
    line-height: 60px;
    width: 650px;
    margin-left: 31.3%;
    padding: 110px 0;
  }
  .pluto-box {
    margin: 120px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 140px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1270px) {
  .pluto-title {
    font-size: 40px;
    line-height: 50px;
    width: 520px;
    margin-left: 34.3%;
    padding: 90px 0;
  }
  .pluto-box {
    margin: 100px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 120px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1010px) {
  .pluto-title {
    font-size: 35px;
    line-height: 45px;
    width: 500px;
    margin-left: 36.3%;
    padding: 80px 0;
  }
  .pluto-box {
    margin: 90px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 110px;
    margin-bottom: 55px;
  }
}
@media (max-width: 780px) {
  .pluto-title {
    font-size: 28px;
    line-height: 40px;
    width: 370px;
    margin-left: 36.3%;
    padding: 60px 0;
  }
  .pluto-box {
    margin: 50px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 80px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .pluto-title {
    font-size: 20px;
    line-height: 30px;
    width: 280px;
    margin-left: 36.3%;
    padding: 40px 0;
  }
  .pluto-box {
    margin: 50px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .pluto-title {
    font-size: 15px;
    line-height: 20px;
    width: 200px;
    margin-left: 35.3%;
    padding: 30px 0;
  }
  .pluto-box {
    margin: 30px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .pluto-title {
    font-size: 12px;
    line-height: 15px;
    width: 155px;
    margin-left: 37.3%;
    padding: 20px 0;
  }
  .pluto-box {
    margin: 15px 0;
  }
  .pluto-flex-box:last-child {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
}
