.footer {
  padding: 0 9%;
}
.footer-high {
  display: flex;
  justify-content: space-between;
  padding-bottom: 257px;
  border-bottom: 1px solid #d8d8d8;
}
.footer-list {
  display: flex;
}
.footer-item {
  margin-right: 195px;
}
.footer-item:first-child {
  margin-right: 110px;
}
.footer-item:last-child {
  margin: 0;
}
.footer-title {
  display: block;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.103636px;
  color: #2c2e3f;
  margin-bottom: 100px;
  transition: 0.5s;
}
.footer-title:hover {
  opacity: 0.5;
}
.footer-link {
  display: block;
  font-family: var(--font1);
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: rgba(44, 46, 63, 0.698039);
  transition: 0.5s;
}
.footer-link:hover {
  opacity: 0.5;
}
.footer-subtitle {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2c2e3f;
}
.footer-logo {
  width: 203px;
  height: 262px;
}
.footer-low {
  padding-top: 30px;
  padding-bottom: 100px;
  justify-content: space-between;
  display: flex;
}
.footer-text {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.379167px;
  color: rgba(44, 46, 63, 0.698039);
}
.footer-social-link {
  display: none;
  padding: 0 10px;
  margin-right: 54px;
}
.footer-social-link:last-child {
  margin: 0;
  padding-right: 0;
}
.footer-social-link svg path {
  transition: 0.5s;
}
.footer-social-link svg rect {
  transition: 0.5s;
}
.footer-social-link:hover svg path {
  stroke: #777986;
}
.footer-social-link:hover svg rect {
  stroke: #777986;
}

@media (max-width: 1460px) {
  .footer-high {
    padding-bottom: 150px;
  }
  .footer-item {
    margin-right: 100px;
  }
  .footer-item:first-child {
    margin-right: 80px;
  }
  .footer-title {
    font-size: 16px;
    margin-bottom: 100px;
  }
  .footer-link {
    font-size: 13px;
  }
  .footer-subtitle {
    font-size: 13px;
  }
  .footer-logo {
    width: 150px;
    height: 194px;
    margin-top: 40px;
  }
  .footer-low {
    padding-bottom: 80px;
  }
  .footer-text {
    font-size: 13px;
  }
}
@media (max-width: 1100px) {
  .footer-high {
    padding-bottom: 100px;
  }
  .footer-item {
    margin-right: 60px;
  }
  .footer-item:first-child {
    margin-right: 30px;
  }
  .footer-title {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .footer-link {
    font-size: 13px;
  }
  .footer-subtitle {
    font-size: 13px;
  }
  .footer-logo {
    width: 120px;
    height: 155px;
    margin-top: 20px;
  }
  .footer-low {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .footer-text {
    font-size: 11px;
  }
}
@media (max-width: 900px) {
  .footer-high {
    padding-bottom: 60px;
  }
  .footer-item {
    margin-right: 60px;
  }
  .footer-item:first-child {
    margin-right: 30px;
  }
  .footer-title {
    font-size: 12px;
    margin-bottom: 50px;
  }
  .footer-link {
    font-size: 10px;
    line-height: 20px;
  }
  .footer-subtitle {
    font-size: 13px;
  }
  .footer-logo {
    width: 100px;
    height: 129px;
    margin-top: 20px;
  }
  .footer-low {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .footer-text {
    font-size: 9px;
  }
}
@media (max-width: 710px) {
  .footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 82%;
  }
  .footer-high {
    padding-bottom: 40px;
  }
  .footer-item {
    margin-right: 35px;
  }
  .footer-item:first-child {
    margin-right: 20px;
  }
  .footer-title {
    font-size: 11px;
    margin-bottom: 30px;
  }
  .footer-link {
    font-size: 9px;
    line-height: 20px;
  }
  .footer-subtitle {
    font-size: 9px;
    line-height: 15px;
  }
  .footer-logo {
    width: 70px;
    height: 90px;
    margin-top: 20px;
  }
  .footer-low {
    padding-top: 13px;
    padding-bottom: 40px;
  }
  .footer-text {
    font-size: 8px;
  }
}
@media (max-width: 560px) {
  .footer-high {
    padding-bottom: 20px;
  }
  .footer-item {
    margin-right: 15px;
  }
  .footer-item:first-child {
    margin-right: 10px;
  }
  .footer-title {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .footer-link {
    font-size: 7px;
    line-height: 15px;
  }
  .footer-subtitle {
    font-size: 8px;
    line-height: 15px;
  }
  .footer-logo {
    width: 50px;
    height: 65px;
    margin-top: 30px;
  }
  .footer-low {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 8px;
  }
}
@media (max-width: 400px) {
  .footer-high {
    padding-bottom: 20px;
  }
  .footer-item {
    margin-right: 10px;
  }
  .footer-item:first-child {
    margin-right: 7px;
  }
  .footer-title {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .footer-link {
    font-size: 6px;
    line-height: 12px;
  }
  .footer-subtitle {
    font-size: 7px;
    line-height: 12px;
  }
  .footer-logo {
    width: 30px;
    height: 39px;
    margin-top: 30px;
  }
  .footer-low {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 6px;
  }
}
