.office-title {
  display: flex;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  align-items: center;
  color: #3c3936;
  width: 900px;
  margin-left: 33.3%;
  padding: 130px 0;
}
.office-flex-box {
  display: flex;
  margin: 0 5% 0 9%;
  max-width: 100%;
}
.office-flex-box-img {
  display: block;
}
.office-img2 {
  width: 45%;
  margin-right: 5%;
}
.office-img3 {
  width: 47%;
}
.office-box {
  padding: 0 5% 0 9%;
}
.office-box1 {
  margin-bottom: 125px;
}
.office-box2 {
  margin-top: 125px;
}
.office-box-img {
  display: block;
  width: 66%;
}
.office-img1 {
  width: 73%;
}
.office-img4 {
  width: 100%;
  padding-bottom: 160px;
  margin-bottom: 80px;
  border-bottom: 1px solid #d8d8d8;
}

@media (max-width: 1600px) {
  .office-title {
    font-size: 50px;
    line-height: 60px;
    width: 700px;
    margin-left: 31.3%;
    padding: 110px 0;
  }
  .office-box1 {
    margin-bottom: 110px;
  }
  .office-box2 {
    margin-top: 110px;
  }
  .office-img4 {
    padding-bottom: 140px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1270px) {
  .office-title {
    font-size: 40px;
    line-height: 50px;
    width: 600px;
    margin-left: 34.3%;
    padding: 90px 0;
  }
  .office-box1 {
    margin-bottom: 100px;
  }
  .office-box2 {
    margin-top: 100px;
  }
  .office-img4 {
    padding-bottom: 120px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1010px) {
  .office-title {
    font-size: 35px;
    line-height: 45px;
    width: 500px;
    margin-left: 36.3%;
    padding: 80px 0;
  }
  .office-box1 {
    margin-bottom: 90px;
  }
  .office-box2 {
    margin-top: 90px;
  }
  .office-img4 {
    padding-bottom: 110px;
    margin-bottom: 55px;
  }
}
@media (max-width: 780px) {
  .office-title {
    font-size: 28px;
    line-height: 40px;
    width: 400px;
    margin-left: 36.3%;
    padding: 60px 0;
  }
  .office-box1 {
    margin-bottom: 70px;
  }
  .office-box2 {
    margin-top: 70px;
  }
  .office-img4 {
    padding-bottom: 80px;
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .office-title {
    font-size: 20px;
    line-height: 30px;
    width: 280px;
    margin-left: 36.3%;
    padding: 40px 0;
  }
  .office-box1 {
    margin-bottom: 50px;
  }
  .office-box2 {
    margin-top: 50px;
  }
  .office-img4 {
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .office-title {
    font-size: 15px;
    line-height: 20px;
    width: 206px;
    margin-left: 35.3%;
    padding: 30px 0;
  }
  .office-box1 {
    margin-bottom: 40px;
  }
  .office-box2 {
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .office-title {
    font-size: 12px;
    line-height: 15px;
    width: 170px;
    margin-left: 37.3%;
    padding: 20px 0;
  }
  .office-box1 {
    margin-bottom: 30px;
  }
  .office-box2 {
    margin-top: 30px;
  }
  .office-img4 {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
}
